<footer class="page__footer footer">
	<div class="footer__wrp">
		<div class="footer__content grid grid_v_center grid_h_between">
			<div class="footer__nav">
				<ul class="footer__nav-list grid grid_h_between">
					<li class="footer__nav-item">
						<a href="#" class="footer__nav-link">About us</a>
					</li>
					
					<li class="footer__nav-item">
						<a href="#" class="footer__nav-link caption caption_size_ss">How it works</a>
					</li>
					
					<li class="footer__nav-item">
						<a href="#" class="footer__nav-link caption caption_size_ss">Terms of use</a>
					</li>
					
					<li class="footer__nav-item">
						<a href="#" class="footer__nav-link caption caption_size_ss">Privacy policy</a>
					</li>
					
					<li class="footer__nav-item">
						<a href="#" class="footer__nav-link caption caption_size_ss">AML policy</a>
					</li>
					
					<li class="footer__nav-item">
						<a href="#" class="footer__nav-link caption caption_size_ss">API</a>
					</li>
					
					<li class="footer__nav-item">
						<a href="#" class="footer__nav-link caption caption_size_ss">Bitcoin ATM</a>
					</li>
					
					<li class="footer__nav-item">
						<a href="#" class="footer__nav-link caption caption_size_ss">Support</a>
					</li>
				</ul>
			</div>
			
			<a href="/" class="footer__logo sm-show">
				<img src="images/logo@3x.png">
			</a>
			
			<div class="footer__dropdown dropdown dropdown_lang dropdown_up js-dropdown">
				<div class="dropdown__value grid grid_v_center js-dropdown-toggle">
					<span class="dropdown__flag flag flag_ru"></span>
					<span class="dropdown__text">Rus</span>
				</div>
				
				<div class="dropdown__list">
					<div class="dropdown__item">
						<a href="#" class="dropdown__link js-dropdown-link grid grid_v_center active">
							<span class="dropdown__flag flag flag_ru"></span>
							<span class="dropdown__text">Rus</span>
						</a>
					</div>
					
					<div class="dropdown__item">
						<a href="#" class="dropdown__link js-dropdown-link grid grid_v_center">
							<span class="dropdown__flag flag flag_gb"></span>
							<span class="dropdown__text">Eng</span>
						</a>
					</div>
					
					<div class="dropdown__item">
						<a href="#" class="dropdown__link js-dropdown-link grid grid_v_center">
							<span class="dropdown__flag flag flag_fr"></span>
							<span class="dropdown__text">Fra</span>
						</a>
					</div>
					
					<div class="dropdown__item">
						<a href="#" class="dropdown__link js-dropdown-link grid grid_v_center">
							<span class="dropdown__flag flag flag_es"></span>
							<span class="dropdown__text">Esp</span>
						</a>
					</div>
					
					<div class="dropdown__item">
						<a href="#" class="dropdown__link js-dropdown-link grid grid_v_center">
							<span class="dropdown__flag flag flag_cn"></span>
							<span class="dropdown__text">Chi</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer__info">
			<div class="footer__info-caption caption caption_size_xs caption_light">
				Bitlish Limited is&nbsp;registered in&nbsp;the Registrar of&nbsp;companies for England and Wales&nbsp;&mdash; registration number 9564930.
			</div>
			
			<div class="footer__info-caption caption caption_size_xs caption_light">
				Payment cards are issued by&nbsp;Wave Crest Holdings Limited pursuant to&nbsp;a&nbsp;license from Visa Europe. Visa is&nbsp;a&nbsp;registered trademark of&nbsp;Visa Incorporated.<br />
				Wave Crest Holdings Limited is&nbsp;a&nbsp;licensed electronic money institution by&nbsp;the Financial Services Commission, Gibraltar.
				<span class="sm-hide">Copyright &copy; 2017, All Rights Reserved</span>
			</div>
			
			<div class="footer__info-caption caption caption_size_xs caption_light sm-show">Copyright &copy; 2017, All Rights Reserved
			</div>
		</div>
	</div>
</footer>
	
