<header class="page__header header">
	<div class="header__wrp grid grid_h_between grid_v_center">
		<div class="header__grid grid grid_v_center">
			<a href="/" class="header__logo">
				<img src="images/logo@3x.png">
			</a>
			
			<div class="header__caption caption caption_size_ss">
				Удобная покупка<br /> и обмен криптовалют
			</div>
		</div>
		
		<div class="header__grid grid grid_v_center">
			<div class="header__dropdown dropdown dropdown_rate xs-hide js-dropdown">
				<div class="dropdown__value js-dropdown-toggle">
					<em>$</em> BTC 6,788 <i></i> LTC 41 <i></i> ETH 143 <i></i> DSH 72 <i></i> ZEC 33
				</div>
				
				<div class="dropdown__list">
					<div class="dropdown__item">
						<a href="#" class="dropdown__link js-dropdown-link active">
							<em>$</em> BTC 6,788 <i></i> LTC 41 <i></i> ETH 143 <i></i> DSH 72 <i></i> ZEC 33
						</a>
					</div>
					
					<div class="dropdown__item">
						<a href="#" class="dropdown__link js-dropdown-link">
							<em>€</em> BTC 6,276 <i></i> LTC 37 <i></i> ETH 132 <i></i> DSH 67 <i></i> ZEC 28
						</a>
					</div>
					
					<div class="dropdown__item">
						<a href="#" class="dropdown__link js-dropdown-link">
							<em>£</em> BTC 5,532 <i></i> LTC 33 <i></i> ETH 114 <i></i> DSH 59 <i></i> ZEC 26
						</a>
					</div>
				</div>
			</div>
			
			<div class="header__dropdown dropdown dropdown_lang js-dropdown">
				<div class="dropdown__value grid grid_v_center js-dropdown-toggle">
					<span class="dropdown__flag flag flag_ru"></span>
					<span class="dropdown__text">Rus</span>
				</div>
				
				<div class="dropdown__list">
					<div class="dropdown__item">
						<a href="#" class="dropdown__link js-dropdown-link grid grid_v_center active">
							<span class="dropdown__flag flag flag_ru"></span>
							<span class="dropdown__text">Rus</span>
						</a>
					</div>
					
					<div class="dropdown__item">
						<a href="#" class="dropdown__link js-dropdown-link grid grid_v_center">
							<span class="dropdown__flag flag flag_gb"></span>
							<span class="dropdown__text">Eng</span>
						</a>
					</div>
					
					<div class="dropdown__item">
						<a href="#" class="dropdown__link js-dropdown-link grid grid_v_center">
							<span class="dropdown__flag flag flag_fr"></span>
							<span class="dropdown__text">Fra</span>
						</a>
					</div>
					
					<div class="dropdown__item">
						<a href="#" class="dropdown__link js-dropdown-link grid grid_v_center">
							<span class="dropdown__flag flag flag_es"></span>
							<span class="dropdown__text">Esp</span>
						</a>
					</div>
					
					<div class="dropdown__item">
						<a href="#" class="dropdown__link js-dropdown-link grid grid_v_center">
							<span class="dropdown__flag flag flag_cn"></span>
							<span class="dropdown__text">Chi</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	
</header>

