<div id="popup-example" class="popup js-popup">
	<div class="popup__wrp">
		<div class="popup__header">
			<div class="popup__heading">
				This is popup heading
			</div>
			
			<div class="popup__caption">
				This is popup caption
			</div>
		</div>
		
		<div class="popup__body">
			This is popup body
		</div>
	</div>
	
	<div class="popup__close js-popup-close" title="Close">
		<span class="popup__close-icon icon icon-cross"></span>
	</div>
</div>
