<!--build:js js/vendor.min.js -->
<script src="js/libs/jquery.min.js"></script>
<script src="js/libs/swiper.min.js"></script>
<script src="js/libs/ofi.min.js"></script>
<script src="js/libs/stickyfill.min.js"></script>
<!--<script src="js/libs/es6-promise.min.js"></script>-->
<!-- endbuild -->
<!--<script type="text/javascript">-->
<!--    ES6Promise.polyfill();-->
<!--</script>-->
<!--build:js js/main.min.js -->
<script src="js/main.js"></script>
<!-- endbuild -->
