<div class="page__svg">
	<svg aria-hidden="true" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<defs>
			<symbol id="social-yt" viewBox="0 0 25 25" preserveAspectRatio="xMidYMid meet">
				
			</symbol>
			
		</defs>
		
	</svg>
</div>
