/* Utils */
/* Base */
@font-face {
    font-family: 'bitlish';
    src: url("../fonts/bitlish.ttf?nyb3ty") format("truetype"), url("../fonts/bitlish.woff?nyb3ty") format("woff"), url("../fonts/bitlish.svg?nyb3ty#bitlish") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block; }

@font-face {
    font-family: 'Circe';
    src: url("../fonts/Circe-Light.eot");
    src: url("../fonts/Circe-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Light.woff2") format("woff2"), url("../fonts/Circe-Light.woff") format("woff"), url("../fonts/Circe-Light.ttf") format("truetype"), url("../fonts/Circe-Light.svg#Circe-Light") format("svg");
    font-weight: 300;
    font-style: normal; }

@font-face {
    font-family: 'Circe';
    src: url("../fonts/Circe-Regular.eot");
    src: url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype"), url("../fonts/Circe-Regular.svg#Circe-Regular") format("svg");
    font-weight: 400;
    font-style: normal; }

@font-face {
    font-family: 'Circe';
    src: url("../fonts/Circe-Bold.eot");
    src: url("../fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.ttf") format("truetype"), url("../fonts/Circe-Bold.svg#Circe-Bold") format("svg");
    font-weight: 700;
    font-style: normal; }

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

img, picture, svg {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

*::selection {
    background: rgba(243, 146, 0, 0.9);
    color: #fff; }

*::-moz-selection {
    background: rgba(243, 146, 0, 0.9);
    color: #fff; }

*::-webkit-selection {
    background: rgba(243, 146, 0, 0.9);
    color: #fff; }

html, body {
    position: relative;
    min-height: 100% !important;
    font-size: 14px;
    font-family: "Circe", sans-serif; }

body {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-smoothing: grayscale;
    color: #2d366e;
    background-color: #fff; }

a {
    transition: all 0.2s ease-out;
    outline: none;
    color: inherit;
    text-decoration: none; }
    a:hover, a:focus {
        text-decoration: none; }

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 14px 0; }
    p:first-child {
        margin-top: 0; }
    p:last-child {
        margin-bottom: 0; }

b, strong {
    font-weight: 700; }

button {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    background-color: transparent; }

input[type="search"] {
    box-sizing: border-box !important; }

a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: none; }

input[type="text"],
input[type="submit"],
input[type="button"],
input,
select,
textarea {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    appearance: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    outline: 0; }
    input[type="text"]::-ms-clear,
    input[type="submit"]::-ms-clear,
    input[type="button"]::-ms-clear,
    input::-ms-clear,
    select::-ms-clear,
    textarea::-ms-clear {
        display: none; }

img, figure {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    vertical-align: middle; }

.clearfix:before, .clearfix:after {
    content: "";
    display: table; }

.clearfix:after {
    clear: both; }

.clearfix {
    zoom: 1; }

/* Layout */
.button {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    outline: none;
    background: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
    outline: 0;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    transition: all .25s ease-out;
    position: relative; }
    @media screen and (max-width: 767px) {
        .button {
            font-size: 16px; } }
    .button:disabled, .button[disabled],
    .loading .button {
        pointer-events: none;
        cursor: not-allowed; }
    .button:focus, .button:active {
        outline: none !important; }
    .button_theme_accent {
        background-color: #f39200;
        color: #fff;
        box-shadow: inset 0px -3px 0 0 rgba(191, 96, 0, 0.4);
        min-width: 120px; }
        @media screen and (min-width: 1024px) {
            .button_theme_accent:hover {
                background-color: #E28200; } }
        .button_theme_accent:active {
            -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
            transform: scale(0.9); }
    .button_theme_blue {
        color: #869be2;
        border: solid 2px #ecf1ff;
        min-width: 100px; }
        @media screen and (min-width: 1024px) {
            .button_theme_blue:hover {
                background-color: rgba(236, 241, 255, 0.7); } }
        .button_theme_blue:active {
            -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
            transform: scale(0.9); }
    .button_size_g {
        height: 50px;
        border-radius: 25px;
        padding-top: 17px;
        padding-bottom: 17px;
        padding-left: 47px;
        padding-right: 47px;
        line-height: 16px; }
        @media screen and (max-width: 767px) {
            .button_size_g {
                padding-left: 26px;
                padding-right: 26px; } }
    .button_size_s {
        height: 40px;
        border-radius: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 23px;
        padding-right: 23px;
        line-height: 16px; }
        .button_size_s.button_theme_blue {
            padding-top: 10px;
            padding-bottom: 10px; }

.icon, .dropdown__value::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'bitlish' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.icon-arrow-left:before {
    content: "\e900"; }

.icon-arrow-right:before {
    content: "\e901"; }

.icon-drop:before, .dropdown__value::before {
    content: "\e902"; }

.icon-benefits-1:before {
    content: "\e903"; }

.icon-benefits-2:before {
    content: "\e904"; }

.icon-benefits-3:before {
    content: "\e905"; }

.icon-benefits-4:before {
    content: "\e906"; }

.icon-benefits-5:before {
    content: "\e907"; }

.icon-benefits-6:before {
    content: "\e908"; }

.icon-benefits-7:before {
    content: "\e909"; }

.icon-benefits-8:before {
    content: "\e90a"; }

.icon-benefits-9:before {
    content: "\e90b"; }

.heading {
    font-weight: 700; }
    .heading_type_h0 {
        font-size: 60px;
        line-height: 60px;
        letter-spacing: -1.5px; }
        @media screen and (max-width: 1023px) {
            .heading_type_h0 {
                font-size: 50px;
                letter-spacing: -1px; } }
        @media screen and (max-width: 767px) {
            .heading_type_h0 {
                font-size: 40px; } }
    .heading_type_h1 {
        font-size: 50px;
        line-height: 57px; }
        @media screen and (max-width: 1023px) {
            .heading_type_h1 {
                font-size: 30px;
                line-height: 40px; } }
        @media screen and (max-width: 767px) {
            .heading_type_h1 {
                font-size: 24px;
                line-height: 30px; } }
    .heading_type_h2 {
        font-size: 40px;
        line-height: 50px; }
        @media screen and (max-width: 1023px) {
            .heading_type_h2 {
                font-size: 30px;
                line-height: 30px; } }
    .heading_type_h3 {
        font-size: 30px;
        line-height: 35px; }
        @media screen and (max-width: 1023px) {
            .heading_type_h3 {
                font-size: 18px;
                line-height: 20px; } }
    .heading_type_h4 {
        font-size: 24px;
        line-height: 25px; }
        @media screen and (max-width: 767px) {
            .heading_type_h4 {
                font-size: 16px;
                line-height: 25px; } }
    .heading_type_h5 {
        font-size: 18px;
        line-height: 30px; }
        @media screen and (max-width: 767px) {
            .heading_type_h5 {
                font-size: 16px;
                line-height: 20px; } }
    .heading_type_h6 {
        font-size: 14px;
        line-height: 16px; }
    .heading_light {
        font-weight: 300; }
    .heading:last-child {
        margin-bottom: 0; }

.caption, .dropdown {
    font-weight: 400; }
    .caption_size_g, .dropdown {
        font-size: 16px;
        line-height: 20px; }
        @media screen and (max-width: 1023px) {
            .caption_size_g, .dropdown {
                font-size: 14px; } }
    .caption_size_xs {
        font-size: 12px;
        line-height: 12px; }
    .caption_size_s {
        font-size: 14px;
        line-height: 20px; }
        @media screen and (max-width: 1023px) {
            .caption_size_s {
                font-size: 12px;
                line-height: 16px; } }
    .caption_size_sm {
        font-size: 14px;
        line-height: 18px; }
    .caption_size_ss {
        font-size: 14px;
        line-height: 16px; }
    .caption_size_l {
        font-size: 18px;
        line-height: 25px; }
        @media screen and (max-width: 1023px) {
            .caption_size_l {
                font-size: 16px;
                line-height: 20px; } }
        @media screen and (max-width: 767px) {
            .caption_size_l {
                font-size: 14px;
                line-height: 20px; } }
    .caption_size_xl {
        font-size: 24px;
        line-height: 30px; }
        @media screen and (max-width: 1023px) {
            .caption_size_xl {
                font-size: 18px;
                line-height: 20px; } }
    .caption_light {
        font-weight: 300; }

.page__container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    position: relative; }

.page__header {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0; }

.page__content {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    position: relative;
    z-index: 2; }

.page__footer {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }

.page__svg {
    display: none !important; }

.section__wrp, .header__wrp, .footer__wrp, .banner__wrp, .money__wrp, .mobile__wrp, .reg__wrp, .cash__wrp, .benefits__wrp, .graph__wrp, .reviews__content, .note__wrp {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto; }
    @media screen and (max-width: 1365px) {
        .section__wrp, .header__wrp, .footer__wrp, .banner__wrp, .money__wrp, .mobile__wrp, .reg__wrp, .cash__wrp, .benefits__wrp, .graph__wrp, .reviews__content, .note__wrp {
            max-width: 1024px; } }
    @media screen and (max-width: 1023px) {
        .section__wrp, .header__wrp, .footer__wrp, .banner__wrp, .money__wrp, .mobile__wrp, .reg__wrp, .cash__wrp, .benefits__wrp, .graph__wrp, .reviews__content, .note__wrp {
            max-width: 768px; } }
    @media screen and (max-width: 767px) {
        .section__wrp, .header__wrp, .footer__wrp, .banner__wrp, .money__wrp, .mobile__wrp, .reg__wrp, .cash__wrp, .benefits__wrp, .graph__wrp, .reviews__content, .note__wrp {
            max-width: 600px;
            min-width: 320px; } }

.section__wrp, .header__wrp, .footer__wrp, .banner__wrp, .money__wrp, .mobile__wrp, .reg__wrp, .cash__wrp, .benefits__wrp, .graph__wrp, .reviews__content, .note__wrp {
    padding-left: 8.28571rem;
    padding-right: 8.28571rem; }
    @media screen and (max-width: 1365px) {
        .section__wrp, .header__wrp, .footer__wrp, .banner__wrp, .money__wrp, .mobile__wrp, .reg__wrp, .cash__wrp, .benefits__wrp, .graph__wrp, .reviews__content, .note__wrp {
            padding-left: 3rem;
            padding-right: 3rem; } }
    @media screen and (max-width: 767px) {
        .section__wrp, .header__wrp, .footer__wrp, .banner__wrp, .money__wrp, .mobile__wrp, .reg__wrp, .cash__wrp, .benefits__wrp, .graph__wrp, .reviews__content, .note__wrp {
            padding-left: 1.71429rem;
            padding-right: 1.71429rem; } }

.hidden {
    display: none !important; }

.invisible {
    opacity: 0;
    visibility: hidden !important; }

.overflow {
    overflow: hidden !important; }

@-webkit-keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0); }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0); } }

@keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0); }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0); } }

.shake {
    -webkit-animation-name: shake;
    animation-name: shake; }

.md-show {
    display: none; }

.sm-show {
    display: none; }

.xs-show {
    display: none; }

@media screen and (max-width: 1365px) {
    .md-show {
        display: inline-block; }
    .md-hide {
        display: none !important; } }

@media screen and (max-width: 1023px) {
    .sm-show {
        display: inline-block; }
    .sm-hide {
        display: none !important; } }

@media screen and (max-width: 767px) {
    .xs-show {
        display: inline-block; }
    .xs-hide {
        display: none !important; } }

.grid, .apps__list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .grid_inline {
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex; }
    .grid_h_between {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between; }
    .grid_h_end {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
    .grid_h_around {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
    .grid_h_center, .apps__list {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
    .grid_v_start {
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start; }
    .grid_v_center, .apps__list {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
    .grid_v_end {
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end; }
    .grid_v_baseline {
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline; }
    .grid_v_stretch {
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch; }
    .grid_wrap {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .grid_col {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
    .grid_equal > * {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1; }

.header {
    width: 100%; }
    .header__wrp {
        padding-top: 3.57143rem;
        padding-bottom: 3.57143rem;
        color: #fff; }
        @media screen and (max-width: 1023px) {
            .header__wrp {
                padding-top: 1.57143rem;
                padding-bottom: 1.57143rem;
                -webkit-align-items: flex-start;
                -ms-flex-align: start;
                align-items: flex-start; } }
    .header__grid {
        position: relative; }
        @media screen and (max-width: 1023px) {
            .header__grid {
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-align-items: flex-end;
                -ms-flex-align: end;
                align-items: flex-end; } }
        @media screen and (max-width: 767px) {
            .header__grid {
                -webkit-align-items: flex-start;
                -ms-flex-align: start;
                align-items: flex-start; } }
    .header__grid + .header__grid {
        margin-left: 2.85714rem; }
    .header__logo {
        display: block;
        width: 6.78571rem;
        padding-bottom: 0.14286rem;
        margin-right: 1.42857rem; }
        @media screen and (max-width: 1023px) {
            .header__logo {
                padding-bottom: 0;
                margin-top: 0.5rem;
                margin-bottom: 1.21429rem; } }
        @media screen and (max-width: 767px) {
            .header__logo {
                width: 5.71429rem;
                margin-right: 0;
                margin-bottom: 1rem; } }
        @media screen and (min-width: 1024px) {
            .header__logo:hover {
                opacity: 0.7; } }
    @media screen and (max-width: 1023px) {
        .header__caption {
            margin-top: 0.42857rem; } }
    @media screen and (max-width: 767px) {
        .header__caption {
            margin-top: 0; } }
    .header__dropdown + .header__dropdown {
        margin-left: 1.42857rem; }
        @media screen and (max-width: 1023px) {
            .header__dropdown + .header__dropdown {
                margin-left: 0;
                margin-top: 0.71429rem; } }
        @media screen and (max-width: 767px) {
            .header__dropdown + .header__dropdown {
                margin-top: 0; } }

.footer {
    background-color: #2e4087; }
    .footer__wrp {
        padding-top: 1.71429rem;
        padding-bottom: 1.71429rem; }
        @media screen and (max-width: 767px) {
            .footer__wrp {
                padding-top: 2.28571rem; } }
    @media screen and (max-width: 1365px) {
        .footer__content {
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .footer__nav-list {
        list-style: none;
        padding: 0;
        margin: 0; }
        @media screen and (max-width: 767px) {
            .footer__nav-list {
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-justify-content: flex-start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                margin-bottom: 1.71429rem;
                margin-left: -1.14286rem;
                margin-right: -1.28571rem; } }
    .footer__nav-item {
        position: relative; }
        .footer__nav-item::after {
            position: absolute;
            content: '';
            right: 0;
            top: 17px;
            bottom: 17px;
            width: 1px;
            background-color: rgba(134, 155, 226, 0.3); }
            @media screen and (max-width: 767px) {
                .footer__nav-item::after {
                    top: 12px;
                    bottom: 12px; } }
        .footer__nav-item:last-child::after {
            display: none; }
    .footer__nav-link {
        display: block;
        padding: 1rem 1.21429rem 1rem 1.14286rem;
        color: #fcfdfe;
        letter-spacing: -0.07px; }
        @media screen and (max-width: 767px) {
            .footer__nav-link {
                padding: 0.5rem 1.07143rem 0.5rem 0.92857rem; } }
        @media screen and (min-width: 1024px) {
            .footer__nav-link:hover {
                color: #869be2; } }
    .footer__nav-item:first-child .footer__nav-link {
        padding-left: 0; }
        @media screen and (max-width: 767px) {
            .footer__nav-item:first-child .footer__nav-link {
                padding-left: 1.14286rem; } }
    @media screen and (max-width: 1023px) {
        .footer__nav-item:last-child .footer__nav-link {
            padding-right: 0; } }
    .footer__logo {
        display: block;
        width: 6.78571rem; }
        @media screen and (max-width: 1365px) {
            .footer__logo {
                -webkit-order: 2;
                -ms-flex-order: 2;
                order: 2;
                margin-top: 0.35714rem;
                margin-bottom: 1.35714rem; } }
        @media screen and (max-width: 1023px) {
            .footer__logo {
                -webkit-order: initial;
                -ms-flex-order: initial;
                order: initial;
                margin-bottom: 0; } }
        @media screen and (max-width: 767px) {
            .footer__logo {
                width: 7.64286rem; } }
    .footer__info {
        margin-top: 0.21429rem; }
        @media screen and (max-width: 1023px) {
            .footer__info {
                margin-top: 1.07143rem; } }
        @media screen and (max-width: 767px) {
            .footer__info {
                margin-top: 1.78571rem; } }
        .footer__info-caption {
            color: rgba(232, 240, 248, 0.8); }
            .footer__info-caption + .footer__info-caption {
                margin-top: 1.35714rem; }

.navigation__list {
    list-style: none;
    margin: 0;
    padding: 0; }

.navigation__item {
    display: block;
    position: relative; }

.navigation__link {
    display: block;
    cursor: default; }
    .navigation__link[href] {
        cursor: pointer; }

.fancybox-bg {
    background: #000 !important;
    display: block; }

.fancybox-is-open .fancybox-bg {
    opacity: 0.9 !important; }

.fancybox-popup.fancybox-is-open .fancybox-bg {
    opacity: 0.7 !important; }

.popup {
    overflow: visible !important;
    display: none;
    padding: 0 !important;
    cursor: default !important;
    width: 96.2962962962963%;
    max-width: 26.42857rem;
    position: relative;
    background-color: #fff; }

/* Component */
.loader {
    font-size: 0;
    line-height: 0;
    white-space: nowrap; }
    .loader > span {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #2e4087;
        margin: 4px;
        opacity: 0; }
    .loader > span:nth-child(1) {
        -webkit-animation: opacitychange 1s ease-in-out infinite;
        animation: opacitychange 1s ease-in-out infinite; }
    .loader > span:nth-child(2) {
        -webkit-animation: opacitychange 1s ease-in-out 0.33s infinite;
        animation: opacitychange 1s ease-in-out 0.33s infinite; }
    .loader > span:nth-child(3) {
        -webkit-animation: opacitychange 1s ease-in-out 0.66s infinite;
        animation: opacitychange 1s ease-in-out 0.66s infinite; }

@-webkit-keyframes opacitychange {
    0%, 100% {
        opacity: 0; }
    60% {
        opacity: 1; } }

@keyframes opacitychange {
    0%, 100% {
        opacity: 0; }
    60% {
        opacity: 1; } }

.dropdown {
    color: #fff;
    position: relative;
    z-index: 5; }
    .dropdown_rate {
        text-transform: uppercase; }
    .dropdown__value {
        position: relative;
        height: 40px;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out, border 0.1s ease-in, padding 0.1s ease-in;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        .dropdown__value::before {
            position: absolute;
            top: 50%;
            right: 15px;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            font-size: 6px;
            transition: -webkit-transform 0.2s ease-in-out;
            transition: transform 0.2s ease-in-out;
            transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; }
    .dropdown.open .dropdown__value {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; }
    .dropdown_up.open .dropdown__value {
        border-radius: 0 0 20px 20px; }
    .dropdown.open .dropdown__value::before {
        -webkit-transform: translate(0, -50%) rotate(180deg);
        -ms-transform: translate(0, -50%) rotate(180deg);
        transform: translate(0, -50%) rotate(180deg); }
    .dropdown_rate .dropdown__value {
        background-color: rgba(45, 54, 110, 0.5);
        padding: 10px 56px 10px 26px;
        line-height: 22px; }
        @media screen and (min-width: 1024px) {
            .dropdown_rate .dropdown__value:hover {
                background-color: rgba(255, 255, 255, 0.25); } }
    @media screen and (min-width: 1024px) {
        .dropdown_rate.open .dropdown__value:hover {
            background-color: rgba(45, 54, 110, 0.5); } }
    .dropdown_rate .dropdown__value i, .dropdown_rate .dropdown__value em,
    .dropdown_rate .dropdown__link i,
    .dropdown_rate .dropdown__link em {
        font-style: normal; }
    .dropdown_rate .dropdown__value em,
    .dropdown_rate .dropdown__link em {
        padding-right: 14px; }
    .dropdown_rate .dropdown__value i,
    .dropdown_rate .dropdown__link i {
        display: inline-block;
        width: 1px;
        height: 10px;
        background-color: #4175a1;
        margin: 0 6px; }
    .dropdown__list {
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%; }
    .dropdown_up .dropdown__list {
        top: auto;
        bottom: 40px; }
    .dropdown.open .dropdown__list {
        display: block; }
    .dropdown_rate .dropdown__list {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: rgba(45, 54, 110, 0.5);
        padding: 4px 21px 20px; }
    @media screen and (min-width: 1024px) {
        .dropdown__item {
            transition: 0.2s ease-in-out; }
            .dropdown__item:hover {
                color: rgba(255, 255, 255, 0.5); } }
    .dropdown_rate .dropdown__item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
        .dropdown_rate .dropdown__item:first-child {
            border-top: 1px solid rgba(255, 255, 255, 0.15); }
    .dropdown_rate .dropdown__link {
        max-width: 100%;
        padding: 15px 5px 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    .dropdown__link {
        display: block; }
    .dropdown_lang .dropdown__value {
        padding: 7px 29px 7px 10px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        min-width: 106px; }
        @media screen and (min-width: 1024px) {
            .dropdown_lang .dropdown__value:hover {
                background-color: rgba(255, 255, 255, 0.25); } }
        .dropdown_lang .dropdown__value::before {
            right: 14px; }
    .dropdown_lang.open .dropdown__value {
        padding-top: 11px;
        padding-bottom: 11px;
        border-bottom-color: transparent; }
        @media screen and (min-width: 1024px) {
            .dropdown_lang.open .dropdown__value:hover {
                background-color: transparent; } }
    .dropdown_up.dropdown_lang.open .dropdown__value {
        border-bottom-color: rgba(255, 255, 255, 0.25);
        border-top-color: transparent; }
    .dropdown_lang .dropdown__list {
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-top: none;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 11px 10px 10px 10px; }
        .dropdown_lang .dropdown__list::before {
            position: absolute;
            top: 0;
            left: 12px;
            right: 12px;
            content: '';
            height: 1px;
            background-color: rgba(255, 255, 255, 0.25); }
        .dropdown_lang .dropdown__list::after {
            content: '';
            position: absolute;
            left: -1px;
            right: -1px;
            bottom: 0;
            top: -40px;
            border-radius: 20px;
            box-shadow: 0 2px 10px 0 rgba(26, 35, 71, 0.25);
            z-index: -1; }
    .dropdown_up.dropdown_lang .dropdown__list {
        background-color: #2e4087;
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 10px 10px 11px 10px; }
        .dropdown_up.dropdown_lang .dropdown__list::before {
            top: auto;
            bottom: 0; }
        .dropdown_up.dropdown_lang .dropdown__list::after {
            top: 0;
            bottom: -40px; }
    .dropdown_lang .dropdown__link {
        position: relative;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-top: 3px;
        padding-bottom: 3px; }
        .dropdown_lang .dropdown__link::after {
            content: '';
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            margin-left: auto;
            margin-right: 5px;
            width: 8px;
            height: 8px;
            border: solid 1px #ffffff;
            border-radius: 4px;
            cursor: pointer;
            background-color: transparent;
            padding: 1px;
            background-clip: content-box;
            transition: background-color 0.2s ease-out; }
        .dropdown_lang .dropdown__link.active::after {
            background-color: #fff; }
    .dropdown__flag {
        margin-right: 13px; }
    .dropdown__text {
        overflow: hidden; }

.flag {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #fff;
    border-radius: 12px;
    box-shadow: 0px 2px 10px 0 rgba(26, 35, 71, 0.25);
    background-color: #fff;
    background-image: url(../images/flags.png);
    background-repeat: no-repeat;
    background-size: auto 22px;
    box-sizing: content-box;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
    .flag_ru {
        background-position: -88px 0; }
    .flag_gb {
        background-position: -66px 0; }
    .flag_fr {
        background-position: -44px 0; }
    .flag_es {
        background-position: -22px 0; }
    .flag_cn {
        background-position: 0 0; }

.banner {
    background-color: #2d366e;
    background-image: linear-gradient(to top, rgba(41, 61, 118, 0.35), rgba(49, 85, 187, 0.35), rgba(99, 131, 220, 0.35));
    color: #fff;
    position: relative;
    overflow: hidden; }
    .banner__wrp {
        padding-top: 10rem;
        padding-bottom: 4.28571rem;
        position: relative;
        z-index: 1; }
        @media screen and (max-width: 1365px) {
            .banner__wrp {
                height: 100vh;
                min-height: 38.57143rem;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column; } }
        @media screen and (max-width: 1023px) {
            .banner__wrp {
                padding-top: 8.57143rem;
                padding-bottom: 2.85714rem; } }
        @media screen and (max-width: 767px) {
            .banner__wrp {
                padding-top: 8.28571rem;
                padding-bottom: 2.14286rem;
                min-height: 31.42857rem; } }
    .banner__body {
        margin-top: 11.85714rem; }
        @media screen and (max-width: 1365px) {
            .banner__body {
                margin-top: 1.42857rem;
                height: 100%;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center; } }
        @media screen and (max-width: 1023px) {
            .banner__body {
                margin-bottom: 7.14286rem; } }
        @media screen and (max-width: 767px) {
            .banner__body {
                margin-bottom: 0; } }
    .banner__subheading {
        margin-top: 1.85714rem; }
        @media screen and (max-width: 767px) {
            .banner__subheading {
                margin-top: 0.71429rem; } }
    .banner__footer {
        margin-top: 12.5rem; }
        @media screen and (max-width: 1365px) {
            .banner__footer {
                margin-top: 1.42857rem;
                -webkit-flex-shrink: 0;
                -ms-flex-negative: 0;
                flex-shrink: 0; } }
        @media screen and (max-width: 767px) {
            .banner__footer {
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-align-items: flex-start;
                -ms-flex-align: start;
                align-items: flex-start; } }
        .banner__footer-caption {
            margin-right: 1.78571rem;
            letter-spacing: 0.35px;
            text-align: right; }
            @media screen and (max-width: 767px) {
                .banner__footer-caption {
                    margin-right: 0;
                    margin-bottom: 1.42857rem;
                    text-align: left; } }
    .banner__bg {
        z-index: 0;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0; }
        .banner__bg-img {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%; }
            @media screen and (max-width: 1023px) {
                .banner__bg-img {
                    max-width: 200%;
                    width: 180%;
                    left: -76%; } }
            @media screen and (max-width: 767px) {
                .banner__bg-img {
                    max-width: 250%;
                    width: 220%;
                    left: -100%; } }

.apps__item {
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; }
    .apps__item + .apps__item {
        margin-left: 1.42857rem; }
        @media screen and (max-width: 767px) {
            .apps__item + .apps__item {
                margin-left: 1.14286rem; } }
    .apps__item_apple {
        width: 10.57143rem; }
        @media screen and (max-width: 767px) {
            .apps__item_apple {
                width: 8.35714rem; } }
    .apps__item_google {
        width: 10.85714rem; }
        @media screen and (max-width: 767px) {
            .apps__item_google {
                width: 8.35714rem; } }
    @media screen and (min-width: 1024px) {
        .apps__item:hover {
            -webkit-transform: translateY(-0.28571rem);
            -ms-transform: translateY(-0.28571rem);
            transform: translateY(-0.28571rem); } }
    .apps__item:active {
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95); }

.apps__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    font-family: "object-fit: cover; object-position: 50% 50%"; }

.money__wrp {
    position: relative;
    padding-top: 8.85714rem;
    padding-bottom: 7.71429rem; }
    @media screen and (max-width: 1023px) {
        .money__wrp {
            padding-top: 7.14286rem;
            padding-bottom: 3.57143rem; } }
    @media screen and (max-width: 767px) {
        .money__wrp {
            padding-top: 4.78571rem; } }
    .money__wrp::before {
        content: '';
        background-color: rgba(242, 243, 250, 0.6);
        position: absolute;
        top: 1.42857rem;
        left: 1.42857rem;
        right: 1.42857rem;
        bottom: 1.42857rem;
        z-index: -1; }
        @media screen and (max-width: 767px) {
            .money__wrp::before {
                background-color: rgba(242, 243, 250, 0.3);
                top: 0.71429rem;
                left: 0.71429rem;
                right: 0.71429rem;
                bottom: 0.71429rem; } }

@media screen and (max-width: 1023px) {
    .money__grid {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }

.money__text {
    width: 50%;
    padding-right: 0.71429rem; }
    @media screen and (max-width: 1365px) {
        .money__text {
            width: 100%;
            padding-right: 1.42857rem; } }
    @media screen and (max-width: 1023px) {
        .money__text {
            padding-right: 0; } }

.money__main-caption {
    margin-top: 3.21429rem; }
    @media screen and (max-width: 1023px) {
        .money__main-caption {
            margin-top: 2.5rem;
            padding-right: 7.14286rem; } }
    @media screen and (max-width: 767px) {
        .money__main-caption {
            margin-top: 2rem;
            padding-right: 0; } }

.money__quote {
    margin-top: 2.85714rem;
    padding-right: 5.71429rem; }
    @media screen and (max-width: 1365px) {
        .money__quote {
            padding-right: 2.85714rem; } }
    @media screen and (max-width: 767px) {
        .money__quote {
            padding-right: 0; } }

.money__frame {
    width: 34.14286rem;
    max-width: 42.15167548500882%; }
    @media screen and (max-width: 1365px) {
        .money__frame {
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0; } }
    @media screen and (max-width: 1023px) {
        .money__frame {
            width: 100%;
            max-width: 100%;
            margin-top: 2.85714rem; } }

.money__picture {
    position: relative;
    padding-bottom: 1.42857rem; }
    @media screen and (max-width: 767px) {
        .money__picture {
            width: 100%;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            padding-bottom: 0.42857rem; } }
    .money__picture::before, .money__picture::after {
        position: absolute;
        content: '';
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 2.85714rem;
        border-radius: 1.42857rem;
        background-color: #f2f4ff;
        z-index: -1; }
        @media screen and (max-width: 767px) {
            .money__picture::before, .money__picture::after {
                height: 1.78571rem; } }
    .money__picture::before {
        bottom: 2.85714rem;
        width: 43.93305439330544%; }
        @media screen and (max-width: 767px) {
            .money__picture::before {
                bottom: 1.71429rem;
                width: 47.79411764705882%;
                max-width: 14.71429rem; } }
    .money__picture::after {
        bottom: 0;
        width: 24.05857740585774%; }
        @media screen and (max-width: 767px) {
            .money__picture::after {
                width: 26.47058823529412%;
                max-width: 8.14286rem; } }
    @media screen and (max-width: 767px) {
        .money__picture-img {
            width: 110.6617647058824%;
            max-width: 34.14286rem;
            margin: 0; } }
    .money__picture-heading {
        color: #4f67af;
        margin-top: 1.42857rem;
        text-align: center; }
        @media screen and (max-width: 767px) {
            .money__picture-heading {
                margin-top: 1.85714rem; } }

.money__button {
    margin-top: 1.14286rem; }
    @media screen and (max-width: 767px) {
        .money__button {
            margin-top: 1.42857rem; } }

.money__caption-ss {
    color: rgba(45, 54, 110, 0.75);
    padding-top: 1.64286rem; }
    @media screen and (min-width: 1024px) {
        .money__caption-ss:hover {
            color: rgba(45, 54, 110, 0.9); } }
    @media screen and (max-width: 767px) {
        .money__caption-ss {
            padding-top: 1.28571rem; } }

.mobile {
    overflow: hidden;
    position: relative; }
    .mobile__wrp {
        padding-top: 3.57143rem;
        padding-bottom: 8.57143rem; }
        @media screen and (max-width: 767px) {
            .mobile__wrp {
                padding-top: 2.85714rem;
                padding-bottom: 5.71429rem; } }
    @media screen and (max-width: 1023px) {
        .mobile__grid {
            -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; } }
    .mobile__image {
        width: 50%;
        height: 43.28571rem;
        position: relative; }
        @media screen and (max-width: 1365px) {
            .mobile__image {
                height: 0;
                padding-bottom: 54%; } }
        @media screen and (max-width: 1023px) {
            .mobile__image {
                width: 100%;
                height: 43.28571rem;
                padding-bottom: 0;
                margin-top: 2.85714rem; } }
        @media screen and (max-width: 767px) {
            .mobile__image {
                height: auto;
                margin-top: 4.28571rem; } }
    .mobile__gallery {
        position: absolute;
        top: 0.71429rem;
        right: 0.42857rem;
        height: 100%; }
        @media screen and (max-width: 1023px) {
            .mobile__gallery {
                position: relative;
                top: 0;
                right: 0;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center; } }
        @media screen and (max-width: 767px) {
            .mobile__gallery {
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                height: auto; } }
        .mobile__gallery-item {
            margin-right: -1.42857rem;
            transition: -webkit-transform 0.2s ease-out;
            transition: transform 0.2s ease-out;
            transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
            max-width: none; }
            @media screen and (min-width: 1024px) {
                .mobile__gallery-item:hover {
                    -webkit-transform: translateY(-1.42857rem);
                    -ms-transform: translateY(-1.42857rem);
                    transform: translateY(-1.42857rem); } }
            @media screen and (max-width: 1365px) {
                .mobile__gallery-item {
                    height: 100%; } }
            @media screen and (max-width: 767px) {
                .mobile__gallery-item {
                    margin: -1.42857rem 0 0;
                    height: auto;
                    width: 100%;
                    max-width: 21.5rem; } }
    .mobile__text {
        width: 50%;
        padding-left: 7.85714rem; }
        @media screen and (max-width: 1365px) {
            .mobile__text {
                padding-left: 4.5rem; } }
        @media screen and (max-width: 1023px) {
            .mobile__text {
                width: 100%;
                padding-left: 0; } }
    @media screen and (max-width: 767px) {
        .mobile__subheading {
            margin-top: 1rem; } }
    .mobile__caption {
        margin-top: 3.71429rem; }
        @media screen and (max-width: 1023px) {
            .mobile__caption {
                margin-top: 2.85714rem;
                padding-right: 4.28571rem; } }
        @media screen and (max-width: 767px) {
            .mobile__caption {
                margin-top: 2.14286rem;
                padding-right: 0; } }
        .mobile__caption + .mobile__caption {
            margin-top: 0.78571rem; }
    .mobile__subcaption {
        margin-top: 2.28571rem; }
        @media screen and (max-width: 767px) {
            .mobile__subcaption {
                margin-top: 1.42857rem; } }
    .mobile__download {
        margin-top: 2.57143rem; }
        @media screen and (max-width: 1023px) {
            .mobile__download {
                margin-top: 0; } }
        @media screen and (max-width: 767px) {
            .mobile__download {
                margin-top: -0.35714rem; } }
        .mobile__download-caption {
            text-align: center; }
            @media screen and (max-width: 1023px) {
                .mobile__download-caption {
                    margin-top: 4.28571rem;
                    font-size: 1.71429rem;
                    line-height: 2.14286rem;
                    font-weight: 700; } }
            @media screen and (max-width: 767px) {
                .mobile__download-caption {
                    margin-top: 4rem; } }
        .mobile__download-apps {
            margin-top: 2.28571rem; }
            @media screen and (max-width: 767px) {
                .mobile__download-apps {
                    margin-top: 1.71429rem; } }
    .mobile__bg {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
        width: 100%; }
        .mobile__bg-img {
            width: 100%; }

.reg {
    background-image: linear-gradient(to bottom, rgba(252, 253, 254, 0), #fcfdfe); }
    @media screen and (max-width: 767px) {
        .reg {
            background-image: linear-gradient(to bottom, rgba(236, 241, 255, 0.3), #fcfdfe); } }
    .reg__wrp {
        padding-top: 0.21429rem;
        padding-bottom: 5.21429rem; }
        @media screen and (max-width: 1365px) {
            .reg__wrp {
                padding-bottom: 2.85714rem; } }
        @media screen and (max-width: 767px) {
            .reg__wrp {
                padding-top: 4.28571rem;
                padding-bottom: 0.85714rem; } }
    .reg__header {
        text-align: center;
        padding-left: 16.04938271604938%;
        padding-right: 16.04938271604938%; }
        @media screen and (max-width: 1365px) {
            .reg__header {
                padding-left: 12%;
                padding-right: 12%; } }
        @media screen and (max-width: 767px) {
            .reg__header {
                padding-left: 0;
                padding-right: 0; } }
        @media screen and (max-width: 767px) {
            .reg__header {
                text-align: left; } }
    @media screen and (max-width: 767px) {
        .reg__heading {
            line-height: 40px; } }
    .reg__subheading {
        margin-top: 0.85714rem; }
        @media screen and (max-width: 767px) {
            .reg__subheading {
                margin-top: 1.85714rem; } }
    .reg__body {
        margin: 7.14286rem 3.85714rem 0 8.14286rem; }
        @media screen and (max-width: 1365px) {
            .reg__body {
                margin: 5.71429rem 0 0 3rem; } }
        @media screen and (max-width: 1023px) {
            .reg__body {
                margin: 4.07143rem 0 0 0; } }
        @media screen and (max-width: 767px) {
            .reg__body {
                margin-top: 3.57143rem; } }
    @media screen and (max-width: 767px) {
        .reg__steps {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column; } }
    .reg__step {
        width: calc((100% - 136px) / 3); }
        @media screen and (max-width: 1365px) {
            .reg__step {
                width: calc((100% - 84px) / 3); } }
        @media screen and (max-width: 1023px) {
            .reg__step {
                width: calc((100% - 50px) / 3); } }
        @media screen and (max-width: 767px) {
            .reg__step {
                width: 100%; } }
        @media screen and (max-width: 767px) {
            .reg__step {
                margin-bottom: 2.57143rem;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: flex-start;
                -ms-flex-align: start;
                align-items: flex-start; } }
        .reg__step-heading {
            margin-top: 1.92857rem; }
            @media screen and (max-width: 767px) {
                .reg__step-heading {
                    margin-top: 0; } }
        .reg__step-subheading {
            margin-bottom: 0.85714rem; }
            @media screen and (max-width: 767px) {
                .reg__step-subheading {
                    margin-top: 0.28571rem;
                    margin-bottom: 0.42857rem; } }
        .reg__step-caption {
            margin-top: 0.5rem; }
        @media screen and (max-width: 1023px) {
            .reg__step br {
                display: none; } }
    .reg__number {
        position: relative;
        padding-left: 1.5rem;
        background-image: url("../images/arrow.svg");
        background-repeat: no-repeat;
        background-position: 100% 50%;
        background-size: 8.28571rem auto;
        min-height: 5.71429rem; }
        @media screen and (max-width: 1365px) {
            .reg__number {
                background-position: 94% 50%; } }
        @media screen and (max-width: 1023px) {
            .reg__number {
                background-size: 35%; } }
        @media screen and (max-width: 767px) {
            .reg__number {
                background: none;
                min-height: 0;
                -webkit-flex-shrink: 0;
                -ms-flex-negative: 0;
                flex-shrink: 0;
                width: 7.14286rem;
                padding-right: 0.71429rem;
                padding-left: 0.71429rem;
                margin-top: 0.28571rem; } }
        .reg__number-item {
            font-size: 8.57143rem;
            line-height: 7.14286rem;
            font-weight: bold;
            color: rgba(220, 228, 255, 0.5);
            position: absolute;
            bottom: -1.14286rem;
            left: 0;
            z-index: -1;
            transition: -webkit-transform 0.2s ease-out;
            transition: transform 0.2s ease-out;
            transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out; }
            @media screen and (max-width: 767px) {
                .reg__number-item {
                    color: rgba(220, 228, 255, 0.9);
                    font-size: 6.42857rem;
                    line-height: 6.42857rem;
                    bottom: -1.35714rem; } }
        .reg__number-img {
            margin: 0;
            max-height: 5.71429rem; }
            @media screen and (max-width: 767px) {
                .reg__number-img {
                    height: 4.28571rem;
                    margin: 0 auto; } }
    .reg__step:last-child .reg__number {
        background-image: none; }
    @media screen and (min-width: 1024px) {
        .reg__step:hover .reg__number-item {
            -webkit-transform: translateX(-1.78571rem);
            -ms-transform: translateX(-1.78571rem);
            transform: translateX(-1.78571rem); } }
    .reg__button {
        margin-top: 2.28571rem; }
        @media screen and (max-width: 767px) {
            .reg__button {
                margin-top: 1.57143rem;
                margin-left: -0.85714rem; } }

.cash {
    background-color: #fcfdfe; }
    .cash__wrp {
        position: relative;
        padding-top: 9.64286rem;
        padding-bottom: 8.57143rem; }
        @media screen and (max-width: 1365px) {
            .cash__wrp {
                padding-top: 8.21429rem;
                padding-bottom: 7.14286rem; } }
        @media screen and (max-width: 767px) {
            .cash__wrp {
                overflow: hidden;
                padding-top: 3.42857rem;
                padding-bottom: 2.85714rem; } }
        .cash__wrp::before {
            content: '';
            position: absolute;
            top: 1.42857rem;
            left: 1.42857rem;
            right: 1.42857rem;
            bottom: 1.42857rem;
            background-color: #ecf1ff;
            z-index: 0; }
            @media screen and (max-width: 767px) {
                .cash__wrp::before {
                    top: 0.71429rem;
                    left: 0.71429rem;
                    right: 0.71429rem;
                    bottom: 0.71429rem; } }
    .cash__grid {
        position: relative;
        z-index: 1; }
        @media screen and (max-width: 1365px) {
            .cash__grid {
                -webkit-align-items: flex-start;
                -ms-flex-align: start;
                align-items: flex-start; } }
        @media screen and (max-width: 1023px) {
            .cash__grid {
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column; } }
    .cash__text {
        width: 50%;
        padding-right: 0.71429rem; }
        @media screen and (max-width: 1365px) {
            .cash__text {
                width: 100%;
                padding-right: 3.71429rem; } }
        @media screen and (max-width: 1023px) {
            .cash__text {
                padding-right: 0; } }
    @media screen and (max-width: 767px) {
        .cash__heading {
            font-size: 1.71429rem;
            line-height: 2.14286rem; } }
    .cash__caption {
        margin-top: 1.07143rem; }
        @media screen and (max-width: 1023px) {
            .cash__caption {
                margin-top: 2.35714rem; } }
        @media screen and (max-width: 767px) {
            .cash__caption {
                font-size: 1.14286rem;
                margin-top: 2rem; } }
    .cash__quote {
        margin-top: 3.42857rem; }
        @media screen and (max-width: 1365px) {
            .cash__quote {
                padding-right: 0; } }
        @media screen and (max-width: 1023px) {
            .cash__quote {
                margin-top: 1.85714rem; } }
        @media screen and (max-width: 767px) {
            .cash__quote {
                margin-top: 1.57143rem; } }
    .cash__frame {
        width: 50%; }
        @media screen and (max-width: 1365px) {
            .cash__frame {
                -webkit-flex-shrink: 0;
                -ms-flex-negative: 0;
                flex-shrink: 0;
                width: 32%; } }
        @media screen and (max-width: 1023px) {
            .cash__frame {
                width: 100%; } }
    .cash__picture {
        margin-right: -1.42857rem;
        position: relative;
        left: 5.42857rem;
        overflow: hidden; }
        @media screen and (max-width: 1365px) {
            .cash__picture {
                left: 0;
                margin-right: -1.57143rem;
                margin-left: -3.92857rem;
                padding-top: 2.5rem; } }
        @media screen and (max-width: 1023px) {
            .cash__picture {
                margin-right: 0;
                margin-left: 0; } }
        @media screen and (max-width: 767px) {
            .cash__picture {
                padding-top: 3rem;
                width: 100%;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                overflow: visible; } }
        .cash__picture-img {
            max-width: 115.6729131175468%;
            width: 48.5rem; }
            @media screen and (max-width: 767px) {
                .cash__picture-img {
                    max-width: 48.5rem;
                    width: 110.2941176470588%;
                    margin: 0; } }

.quote {
    padding-left: 2.71429rem;
    position: relative; }
    @media screen and (max-width: 1023px) {
        .quote {
            padding-right: 7.85714rem; } }
    @media screen and (max-width: 1023px) and (max-width: 767px) {
        .quote {
            padding-right: 0;
            padding-left: 1.92857rem; } }
    .quote::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0.35714rem;
        opacity: 0.1;
        background-color: #2d366e; }

.benefits {
    background-image: linear-gradient(to top, rgba(252, 253, 254, 0), #fcfdfe); }
    .benefits__wrp {
        padding-top: 6.78571rem;
        padding-bottom: 4.64286rem; }
        @media screen and (max-width: 1365px) {
            .benefits__wrp {
                padding-top: 5.35714rem; } }
        @media screen and (max-width: 767px) {
            .benefits__wrp {
                padding-top: 3.57143rem;
                padding-bottom: 4.28571rem; } }
    .benefits__header {
        text-align: center; }
        @media screen and (max-width: 767px) {
            .benefits__header {
                text-align: left; } }
        @media screen and (max-width: 767px) {
            .benefits__header-heading {
                font-size: 1.71429rem;
                line-height: 2.14286rem; } }
        .benefits__header-subheading {
            margin-top: 0.92857rem; }
            @media screen and (max-width: 767px) {
                .benefits__header-subheading {
                    margin-top: 0.57143rem;
                    font-size: 1.14286rem;
                    line-height: 1.42857rem; } }
        .benefits__header-caption {
            margin-top: 1.42857rem; }
            @media screen and (max-width: 767px) {
                .benefits__header-caption {
                    margin-top: 1rem;
                    font-size: 1rem;
                    line-height: 1.14286rem; } }
    .benefits__body {
        margin-top: 8.64286rem; }
        @media screen and (max-width: 1365px) {
            .benefits__body {
                margin-top: 6.42857rem; } }
        @media screen and (max-width: 767px) {
            .benefits__body {
                margin-top: 2.42857rem; } }
    .benefits__grid {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        @media screen and (max-width: 1023px) {
            .benefits__grid {
                -webkit-justify-content: flex-start;
                -ms-flex-pack: start;
                justify-content: flex-start; } }
        @media screen and (max-width: 767px) {
            .benefits__grid {
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                position: relative;
                padding-bottom: 1px; }
                .benefits__grid::after {
                    position: absolute;
                    content: '';
                    background-color: rgba(98, 109, 125, 0.2);
                    bottom: 0;
                    left: -1rem;
                    right: -1rem;
                    height: 1px; } }
        .benefits__grid-item {
            width: calc(100% / 3);
            margin-bottom: 4.14286rem; }
            @media screen and (max-width: 1365px) {
                .benefits__grid-item {
                    margin-bottom: 3.57143rem; } }
            @media screen and (max-width: 1023px) {
                .benefits__grid-item {
                    width: 50%; } }
            @media screen and (max-width: 767px) {
                .benefits__grid-item {
                    width: 100%;
                    margin-bottom: 0; } }
    .benefits__item {
        position: relative; }
        @media screen and (max-width: 767px) {
            .benefits__item::before {
                position: absolute;
                content: '';
                background-color: rgba(98, 109, 125, 0.2);
                top: 0;
                left: -1rem;
                right: -1rem;
                height: 1px; } }
        .benefits__item-header {
            position: relative;
            padding-left: 3rem;
            padding-right: 3rem; }
            @media screen and (max-width: 1023px) {
                .benefits__item-header {
                    padding-right: 2.71429rem;
                    padding-left: 2.71429rem; } }
            @media screen and (max-width: 767px) {
                .benefits__item-header {
                    padding-top: 1.85714rem;
                    padding-bottom: 1.85714rem;
                    cursor: pointer; }
                    .benefits__item-header::before, .benefits__item-header::after {
                        position: absolute;
                        content: '';
                        top: 50%;
                        -webkit-transform: translate(0, -50%);
                        -ms-transform: translate(0, -50%);
                        transform: translate(0, -50%);
                        background-color: #b2c3fe;
                        transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
                        transition: opacity 0.2s ease-out, transform 0.2s ease-out;
                        transition: opacity 0.2s ease-out, transform 0.2s ease-out, -webkit-transform 0.2s ease-out; }
                    .benefits__item-header::before {
                        right: 0.57143rem;
                        width: 10px;
                        height: 2px; }
                    .benefits__item-header::after {
                        right: 0.85714rem;
                        width: 2px;
                        height: 10px; } }
        @media screen and (max-width: 767px) {
            .benefits__item.open .benefits__item-header::after {
                opacity: 0; }
            .benefits__item.open .benefits__item-header::before, .benefits__item.open .benefits__item-header::after {
                -webkit-transform: translate(0, -50%) rotate(180deg);
                -ms-transform: translate(0, -50%) rotate(180deg);
                transform: translate(0, -50%) rotate(180deg); } }
        .benefits__item-icon {
            position: absolute;
            top: 0.07143rem;
            left: 0;
            color: #2e4087;
            font-size: 1.71429rem; }
            @media screen and (max-width: 767px) {
                .benefits__item-icon {
                    top: 50%;
                    -webkit-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    transform: translate(0, -50%); } }
        .benefits__item-caption {
            margin-top: 0.57143rem;
            padding-left: 3rem;
            padding-right: 3rem; }
            @media screen and (max-width: 767px) {
                .benefits__item-caption {
                    margin-top: 0;
                    padding-left: 2.71429rem;
                    padding-right: 0;
                    margin-bottom: 2.42857rem;
                    display: none; } }
        @media screen and (max-width: 767px) {
            .benefits__item.open .benefits__item-caption {
                display: block; } }
        .benefits__item-subheading {
            margin-top: 1.28571rem; }
    .benefits__footer {
        text-align: center;
        margin-top: 2.14286rem; }
        @media screen and (max-width: 1365px) {
            .benefits__footer {
                margin-top: 1.14286rem; } }
        @media screen and (max-width: 767px) {
            .benefits__footer {
                padding-left: 0.21429rem;
                padding-right: 0.21429rem;
                margin-top: 3.57143rem; } }
    @media screen and (max-width: 767px) {
        .benefits__button {
            width: 100%;
            max-width: 19rem; } }

@media screen and (max-width: 767px) {
    .graph__wrp {
        padding: 0; } }

.graph__heading {
    text-align: center; }
    @media screen and (max-width: 1023px) {
        .graph__heading {
            font-size: 1.71429rem;
            line-height: 2.14286rem;
            font-weight: 700; } }

.graph__tabs {
    margin-top: 2.85714rem; }
    @media screen and (max-width: 767px) {
        .graph__tabs {
            margin-top: 1.85714rem; } }

.tabs__nav {
    border-radius: 25px;
    border: solid 1px #ecf1ff; }
    @media screen and (max-width: 767px) {
        .tabs__nav {
            border-left: none;
            border-right: none;
            border-radius: 0; } }
    @media screen and (max-width: 767px) {
        .tabs__nav-list {
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
            padding-left: 0.92857rem; } }
    .tabs__nav-item {
        font-size: 1.14286rem;
        line-height: 1;
        display: block;
        padding: 1.28571rem 1rem 1rem 0.92857rem;
        color: #4f67ad;
        letter-spacing: 0.01143rem;
        cursor: pointer;
        position: relative;
        text-transform: uppercase;
        min-width: 4.28571rem;
        transition: color 0.2s ease-in-out;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0; }
        @media screen and (min-width: 1024px) {
            .tabs__nav-item:hover {
                color: #f39200; } }
        .tabs__nav-item.active {
            text-decoration: underline;
            color: #f39200;
            cursor: default;
            pointer-events: none; }
        .tabs__nav-item::after {
            position: absolute;
            content: '';
            right: 0;
            top: 19px;
            bottom: 19px;
            background-color: #ecf1ff;
            width: 1px; }
        .tabs__nav-item:last-child {
            padding-right: 0.92857rem; }
            @media screen and (max-width: 767px) {
                .tabs__nav-item:last-child {
                    padding-right: 1.85714rem; } }
            .tabs__nav-item:last-child::after {
                display: none; }

.tabs__content {
    margin-top: 3.42857rem; }
    @media screen and (max-width: 767px) {
        .tabs__content {
            margin-top: 1.71429rem; } }
    .tabs__content-item {
        padding-bottom: 9.71429rem;
        width: 100%;
        display: none;
        position: relative; }
        .tabs__content-item.active {
            display: block; }
        .tabs__content-item.loaded {
            padding-bottom: 38.28571rem; }
        @media screen and (max-width: 767px) {
            .tabs__content-item {
                padding-bottom: 76.875%; } }
    .tabs__content-frame {
        position: absolute;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: 50% 50%;
        object-position: 50% 50%;
        font-family: "object-fit: cover; object-position: 50% 50%";
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease-out, visibility .3s ease-out; }
    .tabs__content-item.loading .tabs__content-frame,
    .tabs__content-item.loaded .tabs__content-frame {
        display: block; }
    .tabs__content-item.loaded .tabs__content-frame {
        opacity: 1;
        visibility: visible; }
    .tabs__content-loader {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .tabs__content-item.loaded .tabs__content-loader {
        display: none; }

.reviews__wrp {
    padding-top: 1.42857rem;
    padding-bottom: 3.21429rem; }
    @media screen and (max-width: 767px) {
        .reviews__wrp {
            padding-bottom: 2.57143rem; } }

.reviews__slider {
    position: relative;
    overflow: hidden; }
    @media screen and (max-width: 767px) {
        .reviews__slider {
            padding-left: 0.71429rem;
            padding-right: 0.71429rem; } }
    .reviews__slider-wrapper {
        padding-top: 3.85714rem;
        padding-bottom: 3.85714rem; }

.reviews__slide {
    width: 47.57143rem;
    padding: 4.57143rem;
    background-color: #fff;
    box-shadow: 3.5px 3.5px 65px 0 rgba(38, 53, 128, 0.08);
    opacity: 0.35; }
    @media screen and (max-width: 767px) {
        .reviews__slide {
            opacity: 1; } }
    .reviews__slide.swiper-slide-active {
        opacity: 1; }
    @media screen and (max-width: 767px) {
        .reviews__slide {
            padding: 1.78571rem 1.28571rem 2.14286rem;
            width: 100%; } }
    .reviews__slide-photo {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 7.28571rem;
        height: 7.28571rem;
        margin-right: 2.57143rem;
        border-radius: 50%;
        box-shadow: 0 5px 20px 0 rgba(46, 64, 135, 0.15);
        border: solid 2px #fff;
        overflow: hidden; }
        @media screen and (max-width: 767px) {
            .reviews__slide-photo {
                width: 5.71429rem;
                height: 5.71429rem;
                margin-right: 1.85714rem; } }
    .reviews__slide-img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: 50% 50%;
        object-position: 50% 50%;
        font-family: "object-fit: cover; object-position: 50% 50%"; }
    .reviews__slide-body {
        padding-top: 0.5rem; }
        @media screen and (max-width: 767px) {
            .reviews__slide-body {
                padding-top: 0; } }
    .reviews__slide-text {
        margin-top: 1.21429rem;
        max-height: 50px;
        overflow: hidden; }
        @media screen and (max-width: 1023px) {
            .reviews__slide-text {
                max-height: 2000px; } }
        @media screen and (max-width: 767px) {
            .reviews__slide-text {
                margin-top: 0.57143rem; } }
    .reviews__slide.swiper-slide-active .reviews__slide-text {
        max-height: 2000px; }

.reviews__arrow {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    display: block;
    cursor: pointer;
    color: #2e4087; }
    @media screen and (max-width: 1023px) {
        .reviews__arrow {
            height: 3.85714rem; } }
    .reviews__arrow::before {
        position: absolute;
        top: 169px;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        font-size: 2.5rem;
        transition: -webkit-transform 0.1s ease-out;
        transition: transform 0.1s ease-out;
        transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out; }
    @media screen and (min-width: 1024px) {
        .reviews__arrow:hover::before {
            transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275); } }
    .reviews__arrow_prev {
        left: 0;
        right: calc((100% + 666px) / 2); }
        @media screen and (max-width: 1023px) {
            .reviews__arrow_prev {
                top: 0;
                right: 0;
                bottom: auto; } }
        @media screen and (min-width: 1024px) {
            .reviews__arrow_prev:hover::before {
                -webkit-transform: translate(50%, -50%) scale(1.25);
                -ms-transform: translate(50%, -50%) scale(1.25);
                transform: translate(50%, -50%) scale(1.25); } }
        .reviews__arrow_prev::before {
            right: 3rem; }
            @media screen and (max-width: 1023px) {
                .reviews__arrow_prev::before {
                    top: 20%;
                    right: 50%;
                    -webkit-transform: translateX(50%) rotate(90deg);
                    -ms-transform: translateX(50%) rotate(90deg);
                    transform: translateX(50%) rotate(90deg); } }
    .reviews__arrow_next {
        right: 0;
        left: calc((100% + 666px) / 2); }
        @media screen and (max-width: 1023px) {
            .reviews__arrow_next {
                top: auto;
                left: 0;
                bottom: 0; } }
        @media screen and (min-width: 1024px) {
            .reviews__arrow_next:hover::before {
                -webkit-transform: translate(-50%, -50%) scale(1.25);
                -ms-transform: translate(-50%, -50%) scale(1.25);
                transform: translate(-50%, -50%) scale(1.25); } }
        .reviews__arrow_next::before {
            left: 3rem; }
            @media screen and (max-width: 1023px) {
                .reviews__arrow_next::before {
                    top: 20%;
                    left: 50%;
                    -webkit-transform: translateX(-50%) rotate(90deg);
                    -ms-transform: translateX(-50%) rotate(90deg);
                    transform: translateX(-50%) rotate(90deg); } }

@media screen and (max-width: 1023px) {
    .reviews__content {
        margin-top: 3.57143rem; } }

@media screen and (max-width: 767px) {
    .reviews__content {
        margin-top: 2.85714rem; } }

.reviews__download-caption {
    text-align: center; }
    @media screen and (max-width: 1023px) {
        .reviews__download-caption {
            font-size: 1.71429rem;
            line-height: 2.14286rem;
            font-weight: 700; } }

.reviews__download-apps {
    margin-top: 1.57143rem; }

.reviews__download-subcaption {
    text-align: center;
    margin-top: 1.5rem; }
    @media screen and (max-width: 767px) {
        .reviews__download-subcaption {
            margin-top: 1.14286rem;
            line-height: 20px; } }

.note__wrp {
    padding-top: 1.21429rem;
    padding-bottom: 1.21429rem;
    margin-bottom: 1.42857rem;
    position: relative; }
    @media screen and (max-width: 767px) {
        .note__wrp {
            padding-top: 1.85714rem;
            padding-bottom: 1.85714rem; } }
    .note__wrp::before {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 1.42857rem;
        right: 1.42857rem;
        background-color: #ecf1ff;
        z-index: -1; }
        @media screen and (max-width: 767px) {
            .note__wrp::before {
                left: 0.71429rem;
                right: 0.71429rem; } }

.note__caption {
    text-align: center; }
    @media screen and (max-width: 1365px) {
        .note__caption {
            text-align: left; } }
    @media screen and (max-width: 767px) {
        .note__caption {
            font-size: 16px;
            padding-left: 0.28571rem;
            padding-right: 0.28571rem; } }

/* Section */
