@@include('layout/_head.html')

<!-- page-container -->
<div class="page__container">
	@@include('layout/_header.html', {})
	
	<!-- page-content -->
	<main class="page__content">
		<section class="banner">
			<div class="banner__bg">
				<img class="banner__bg-img" src="images/bg-1.png"
				     srcset="images/bg-1.png 2x,
							 images/bg-1.png 3x"
				     alt="banner-1">
				
				<img class="banner__bg-img" src="images/bg-2.png"
				     srcset="images/bg-2.png 2x,
							 images/bg-2.png 3x"
				     alt="banner-2">
			</div>
			
			<div class="banner__wrp">
				<div class="banner__body">
					<div class="banner__heading heading heading_type_h0">
						BITLISH
					</div>
					
					<div class="banner__subheading heading heading_light heading_type_h1">
						Самый простой способ покупать<br class="xs-hide"/>
						и продавать криптовалюту
					</div>
				</div>
				
				<div class="banner__footer grid grid_h_end grid_v_center">
					<div class="banner__footer-caption caption caption_size_s">
						Приложение, которое умеет<br class="xs-hide"/>
						обращаться с&nbsp;валютой:
					</div>
					
					<div class="banner__footer-apps apps">
						<div class="apps__list">
							<a href="https://apps.apple.com" target="_blank" class="btn apps__item apps__item_apple">
								<img class="apps__img js-fit" src="images/app_store.png"
								     srcset="images/app_store@2x.png 2x,
									 images/app_store@3x.png 3x" alt="app store">
							</a>
							
							<a href="https://play.google.com/store" target="_blank"
							   class="btn apps__item apps__item_google">
								<img class="apps__img js-fit" src="images/google_play.png"
								     srcset="images/google_play@2x.png 2x,
									 images/google_play@3x.png 3x" alt="google play">
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="money">
			<div class="money__wrp">
				<div class="money__grid grid grid_v_center grid_h_between">
					<div class="money__text">
						<div class="money__heading heading heading_type_h2">
							Хочешь, чтобы твои деньги
							работали?
						</div>
						
						<div class="money__main-caption caption caption_size_xl">
							Биткоины и&nbsp;эфириум&nbsp;&mdash; один из&nbsp;самых популярных
							видов долгосрочных вложений в&nbsp;сети. Причем,
							не&nbsp;просто популярных, но&nbsp;и&nbsp;самых выгодных.
						</div>
						
						<div class="money__quote caption caption_size_g quote">
							Но&nbsp;покупать электронную валюту с&nbsp;рук опасно, а&nbsp;на&nbsp;сайтах
							бирж невозможно разобраться без учебника по&nbsp;экономике.
							Внутри только графики, цифры и&nbsp;непонятные слова&hellip;
						</div>
					</div>
					
					<div class="money__frame grid grid_col grid_v_center">
						<div class="money__picture">
							<img class="money__picture-img" src="images/money.png"
							     srcset="images/money@2x.png 2x,
										 images/money@3x.png 3x" alt="money">
							
							<div class="money__picture-heading heading heading_type_h5">
								— Теперь все стало намного проще!
							</div>
						</div>
						
						<a href="https://bitlish.com" target="_blank"
						   class="money__button button button_theme_accent button_size_g">
							Купить биткоин прямо сейчас
						</a>
						
						<div class="money__caption-ss caption caption_light caption_size_ss">
							*и другую электронную валюту
						</div>
					
					</div>
				</div>
			</div>
		</section>
		
		<section class="mobile">
			<div class="mobile__bg">
				<img class="mobile__bg-img xs-hide" src="images/mobile-bg.png" alt="mobile-bg"
				     srcset="images/mobile-bg@2x.png 2x,
							 images/mobile-bg@3x.png 3x">
			</div>
			
			<div class="mobile__wrp">
				<div class="mobile__grid grid grid_h_between grid_v_center">
					<div class="mobile__image">
						<div class="mobile__gallery grid grid_h_end grid_v_stretch">
							<img class="mobile__gallery-item" src="images/mobile-1.png"
							     srcset="images/mobile-1@2x.png 2x,
										images/mobile-1@3x.png 3x" alt="mobile-1">
							
							<img class="mobile__gallery-item" src="images/mobile-2.png"
							     srcset="images/mobile-2@2x.png 2x,
										images/mobile-2@3x.png 3x" alt="mobile-1">
							
							<img class="mobile__gallery-item" src="images/mobile-3.png"
							     srcset="images/mobile-3@2x.png 2x,
										images/mobile-3@3x.png 3x" alt="mobile-1">
						</div>
					</div>
					
					<div class="mobile__text">
						<div class="mobile__heading heading heading_type_h2">
							Мы&nbsp;создали Bitlish&nbsp;&mdash;
						</div>
						
						<div class="mobile__subheading heading heading_type_h3">
							приложение для тех, кто хочет
							купить криптовалюту
						</div>
						
						<div class="mobile__caption caption caption_size_g">
							Пользоваться Bitlish проще, чем застелить постель
							или&nbsp;приготовить ужин. Просто следи за&nbsp;курсом со&nbsp;своего
							смартфона, покупай или продавай криптовалюту, когда
							это&nbsp;будет выгоднее всего.
						</div>
						
						<div class="mobile__caption caption caption_size_g sm-hide">
							Bitlish&nbsp;&mdash; это твой криптокошелек, где ты&nbsp;можешь делать
							долгосрочные инвестиции в&nbsp;любую из&nbsp;пяти видов электронных
							валют, доступных на&nbsp;сервисе (Bitcoin, Ethereum, Litecoin, Dash,
							Zcash).
						</div>
						
						<div class="mobile__subcaption caption caption_size_xl sm-hide">
							И&nbsp;все это&nbsp;&mdash; через приложение в&nbsp;твоем
							смартфоне!
						</div>
					</div>
				</div>
				
				
				<div class="mobile__download">
					<div class="mobile__download-text sm-show">
						<div class="mobile__caption caption caption_size_g">
							Bitlish&nbsp;&mdash; это твой криптокошелек, где ты&nbsp;можешь делать
							долгосрочные инвестиции в&nbsp;любую из&nbsp;пяти видов электронных
							валют, доступных на&nbsp;сервисе (Bitcoin, Ethereum, Litecoin, Dash,
							Zcash).
						</div>
						
						<div class="mobile__subcaption caption caption_size_xl">
							И&nbsp;все это&nbsp;&mdash; через приложение в&nbsp;твоем
							смартфоне!
						</div>
					</div>
					
					<div class="mobile__download-caption caption caption_size_xl">
						Установить приложение
					</div>
					
					<div class="mobile__download-apps apps">
						<div class="apps__list">
							<a href="https://apps.apple.com" target="blank" class="btn apps__item apps__item_apple">
								<img class="apps__img js-fit" src="images/app_store.png"
								     srcset="images/app_store@2x.png 2x,
									 images/app_store@3x.png 3x">
							</a>
							
							<a href="https://play.google.com/store" target="blank"
							   class="btn apps__item apps__item_google">
								<img class="apps__img js-fit" src="images/google_play.png"
								     srcset="images/google_play@2x.png 2x,
									 images/google_play@3x.png 3x">
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="reg">
			<div class="reg__wrp">
				<div class="reg__header">
					<div class="reg__heading heading heading_type_h2">
						Всего пять минут до&nbsp;первой сделки!
					</div>
					
					<div class="reg__subheading heading heading_type_h3">
						Именно столько потребуется, чтобы зарегистрироваться
						в&nbsp;системе
					</div>
				</div>
				
				<div class="reg__body">
					<div class="reg__steps grid grid_h_between">
						<div class="reg__step">
							<div class="reg__number">
								<span class="reg__number-item">1</span>
								<img class="reg__number-img" src="images/step-1.png" alt="step-1"
								     srcset="images/step-1@2x.png 2x, images/step-1@3x.png 3x">
							</div>
							
							<div class="reg__step-body">
								<div class="reg__step-heading heading heading_type_h5">
									Зарегистрируйся,
								</div>
								
								<div class="reg__step-caption caption caption_size_sm">
									И&nbsp;ты&nbsp;станешь на&nbsp;шаг ближе к&nbsp;цели.
								</div>
								
								<a href="https://bitlish.com" target="_blank"
								   class="reg__button button button_theme_blue button_size_s">
									Регистрация
								</a>
							</div>
						</div>
						
						<div class="reg__step">
							<div class="reg__number">
								<span class="reg__number-item">2</span>
								<img class="reg__number-img" src="images/step-2.png" alt="step-2"
								     srcset="images/step-2@2x.png 2x, images/step-2@3x.png 3x">
							</div>
							
							<div class="reg__step-body">
								<div class="reg__step-heading heading heading_type_h5">
									Заполни свой профиль
								</div>
								
								<div class="reg__step-caption caption caption_size_sm">
									Система задаст несколько<br/>
									стандартных вопросов о&nbsp;тебе,<br/>
									а&nbsp;после предложит подтвердить<br/>
									эту информацию.
								</div>
							</div>
						</div>
						
						<div class="reg__step">
							<div class="reg__number">
								<span class="reg__number-item">3</span>
								<img class="reg__number-img" src="images/step-3.png" alt="step-3"
								     srcset="images/step-3@2x.png 2x, images/step-3@3x.png 3x">
							</div>
							
							<div class="reg__step-body">
								<div class="reg__step-heading heading heading_type_h5">
									Пополни счет
								</div>
								
								<div class="reg__step-subheading heading heading_type_h6">
									(карточкой, переводом, с&nbsp;кошелька и&nbsp;др)
								</div>
								
								<div class="reg__step-caption caption caption_size_sm">
									Сразу после поступления денег<br/>
									на&nbsp;счет ты&nbsp;сможешь покупать и&nbsp;проводить<br/>
									операции с&nbsp;любыми криптовалютами,<br/>
									представленными в&nbsp;системе.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="cash">
			<div class="cash__wrp">
				<div class="cash__grid grid grid_h_between grid_v_end">
					<div class="cash__text">
						<div class="cash__heading heading heading_type_h2">
							Покупай, продавай, обменивай
							&mdash;&nbsp;на&nbsp;Bitlish доступно все.
						</div>
						
						<div class="cash__caption caption caption_size_xl">
							Снимай наличные или плати криптовалютой<br class="sm-hide"/>
							везде, где принимают VISA.
						</div>
						
						<div class="cash__quote quote caption caption_size_g">
							Мы&nbsp;оформляем пластиковые карты VISA для вывода криптовалюты
							в&nbsp;наличные. Оставь заявку на&nbsp;карту после регистрации, и&nbsp;мы&nbsp;пришлем
							ее&nbsp;в&nbsp;течение месяца.
						</div>
					</div>
					
					<div class="cash__frame">
						<div class="cash__picture">
							<img class="cash__picture-img" src="images/cash.png" alt="change buy sell cash"
							     srcset="images/cash@2x.png 2x, images/cash@3x.png 3x">
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="benefits">
			<div class="benefits__wrp">
				<div class="benefits__header">
					<div class="benefits__header-heading heading heading_type_h2">
						Покупка криптовалюты
					</div>
					<div class="benefits__header-subheading heading heading_type_h3">
						&mdash;&nbsp;это простые и&nbsp;популярные инвестиции. Надолго.
					</div>
					<div class="benefits__header-caption caption caption_size_xl">
						И&nbsp;еще 9 причин использовать Bitlish
					</div>
				</div>
				
				<div class="benefits__body">
					<div class="benefits__grid grid grid_h_between">
						<div class="benefits__grid-item benefits__item js-benefits-item">
							<div class="benefits__item-header js-benefits-item-header">
								<span class="benefits__item-icon icon icon-benefits-1"></span>
								<div class="benefits__item-heading heading heading_type_h5">
									Высокий уровень безопасности
								</div>
							</div>
							
							<div class="benefits__item-caption caption caption_size_sm">
								За&nbsp;все время работы Bitlish не&nbsp;было случаев
								кражи криптовалюты. Мы&nbsp;постоянно работаем
								над уровнем защиты пользователей Bitlish,
								а&nbsp;раз в&nbsp;сутки делаем копию всей системы
								в&nbsp;&laquo;холодное хранилище&raquo;, чтобы
								при&nbsp;необходимости восстановить
								максимальное количество операций.
							</div>
						</div>
						
						<div class="benefits__grid-item benefits__item js-benefits-item">
							<div class="benefits__item-header js-benefits-item-header">
								<span class="benefits__item-icon icon icon-benefits-2"></span>
								<div class="benefits__item-heading heading heading_type_h5">
									Настоящая поддержка
								</div>
							</div>
							<div class="benefits__item-caption caption caption_size_sm">
								В&nbsp;службе поддержки Bitlish работают
								квалифицированные специалисты, которые
								разберутся с&nbsp;любой проблемой в&nbsp;кратчайшие
								сроки. Все потому, что мы&nbsp;ценим твое
								время и&nbsp;деньги.
							</div>
						</div>
						
						<div class="benefits__grid-item benefits__item js-benefits-item">
							<div class="benefits__item-header js-benefits-item-header">
								<span class="benefits__item-icon icon icon-benefits-3"></span>
								<div class="benefits__item-heading heading heading_type_h5">
									Полностью легальная система
								</div>
							</div>
							<div class="benefits__item-caption caption caption_size_sm">
								Наша компания зарегистрирована
								в&nbsp;Великобритании, мы&nbsp;соблюдаем европейские
								и&nbsp;мировые законодательные нормы в&nbsp;сфере
								финансов. Ты&nbsp;можешь быть уверены в&nbsp;каждой
								сделке.
							</div>
						</div>
						
						<div class="benefits__grid-item benefits__item js-benefits-item">
							<div class="benefits__item-header js-benefits-item-header">
								<span class="benefits__item-icon icon icon-benefits-4"></span>
								<div class="benefits__item-heading heading heading_type_h5">
									Надежная защита аккаунта
								</div>
							</div>
							<div class="benefits__item-caption caption caption_size_sm">
								Защити свой профиль с&nbsp;помощью
								двухфакторной авторизации. Ты&nbsp;можешь
								использовать SMS, email, Authy, U2F
								аппаратный ключ. Все пароли зашифрованы.
								<nobr>Анти-фрод</nobr>
								мониторинг 24/7.
							</div>
						</div>
						
						<div class="benefits__grid-item benefits__item js-benefits-item">
							<div class="benefits__item-header js-benefits-item-header">
								<span class="benefits__item-icon icon icon-benefits-5"></span>
								<div class="benefits__item-heading heading heading_type_h5">
									Удобная покупка на&nbsp;любую сумму
								</div>
							</div>
							<div class="benefits__item-caption caption caption_size_sm">
								Карточки, банковские переводы,
								электронные кошельки и&nbsp;даже автоматы
								по&nbsp;обмену биткоинов&nbsp;&mdash; покупай
								криптовалюту любым способом, на&nbsp;любые
								суммы, даже на&nbsp;100&nbsp;рублей.
							</div>
						</div>
						
						<div class="benefits__grid-item benefits__item js-benefits-item">
							<div class="benefits__item-header js-benefits-item-header">
								<span class="benefits__item-icon icon icon-benefits-6"></span>
								<div class="benefits__item-heading heading heading_type_h5">
									Выгодные курсы
								</div>
							</div>
							<div class="benefits__item-caption caption caption_size_sm">
								У нас одни из самых приятных курсов
								криптовалют в сети, а торговая комиссия
								составляет всего лишь 0,2%. Сравни сам — 
								Bitlish действительно выгодно.
							</div>
						</div>
						
						<div class="benefits__grid-item benefits__item js-benefits-item">
							<div class="benefits__item-header js-benefits-item-header">
								<span class="benefits__item-icon icon icon-benefits-7"></span>
								<div class="benefits__item-heading heading heading_type_h5">
									Понятная схема работы
								</div>
							</div>
							<div class="benefits__item-caption caption caption_size_sm">
								Простая регистрация, понятный
								интерфейс и&nbsp;удобное мобильное
								приложение.
							</div>
						</div>
						
						<div class="benefits__grid-item benefits__item js-benefits-item">
							<div class="benefits__item-header js-benefits-item-header">
								<span class="benefits__item-icon icon icon-benefits-8"></span>
								<div class="benefits__item-heading heading heading_type_h5">
									Всегда под рукой
								</div>
							</div>
							<div class="benefits__item-caption caption caption_size_sm">
								Проводи сделки где угодно: на&nbsp;работе,
								за&nbsp;обедом или в&nbsp;пути. Все, что тебе
								необходимо для торгов&nbsp;&mdash; смартфон
								с&nbsp;доступом в&nbsp;интернет. Пусть ничто
								не&nbsp;держит тебя на&nbsp;одном месте.
							</div>
						</div>
						
						<div class="benefits__grid-item benefits__item js-benefits-item">
							<div class="benefits__item-header js-benefits-item-header">
								<span class="benefits__item-icon icon icon-benefits-9"></span>
								<div class="benefits__item-heading heading heading_type_h5">
									Никаких ограничений
								</div>
							</div>
							<div class="benefits__item-caption caption caption_size_sm">
								На&nbsp;Biltish торгуют самыми популярными
								видами электронных и&nbsp;фиатных валют,
								что&nbsp;дает больше маневра для заработка
								в&nbsp;долгосрочной перспективе.
								<div class="benefits__item-subheading heading heading_type_h6">
									Следи за&nbsp;графиками!
								</div>
							</div>
						
						</div>
					</div>
				</div>
				
				<div class="benefits__footer">
					<a href="https://bitlish.com" target="_blank"
					   class="benefits__button button button_size_g button_theme_accent">
						Купить криптовалюту
					</a>
				</div>
			</div>
		</section>
		
		<section class="graph">
			<div class="graph__wrp">
				<div class="graph__heading heading heading_type_h3 heading_light">
					График курса валют
				</div>
				
				<div class="graph__tabs tabs js-tabs">
					<div class="tabs__nav">
						<div class="tabs__nav-list grid grid_h_center grid_v_center">
							<button class="tabs__nav-item active js-tabs-nav" data-nav-id="1"
							        data-content-src="https://widget.coinlib.io/widget?type=chart&theme=light&coin_id=859&pref_coin_id=1505">
								BTC
							</button>
							<button class="tabs__nav-item js-tabs-nav" data-nav-id="2" 
							        data-content-src="https://widget.coinlib.io/widget?type=chart&theme=light&coin_id=359&pref_coin_id=1505">LTC</button>
							<button class="tabs__nav-item js-tabs-nav" data-nav-id="3" 
							        data-content-src="https://widget.coinlib.io/widget?type=chart&theme=light&coin_id=145&pref_coin_id=1505">ETH</button>
							<button class="tabs__nav-item js-tabs-nav" data-nav-id="4" 
							        data-content-src="https://widget.coinlib.io/widget?type=chart&theme=light&coin_id=619&pref_coin_id=1505">XRP</button>
							<button class="tabs__nav-item js-tabs-nav" data-nav-id="5" 
							        data-content-src="https://widget.coinlib.io/widget?type=chart&theme=light&coin_id=66&pref_coin_id=1505">ZEC</button>
							<button class="tabs__nav-item js-tabs-nav" data-nav-id="6" 
							        data-content-src="https://widget.coinlib.io/widget?type=chart&theme=light&coin_id=876&pref_coin_id=1505">VRC</button>
							<button class="tabs__nav-item js-tabs-nav" data-nav-id="7" 
							        data-content-src="https://widget.coinlib.io/widget?type=chart&theme=light&coin_id=765&pref_coin_id=1505">BURST</button>
							<button class="tabs__nav-item js-tabs-nav" data-nav-id="8" 
							        data-content-src="https://widget.coinlib.io/widget?type=chart&theme=light&coin_id=192602&pref_coin_id=1505">REP</button>
							<button class="tabs__nav-item js-tabs-nav" data-nav-id="9" 
							        data-content-src="https://widget.coinlib.io/widget?type=chart&theme=light&coin_id=726&pref_coin_id=1505">PINK</button>
							<button class="tabs__nav-item js-tabs-nav" data-nav-id="10" 
							        data-content-src="https://widget.coinlib.io/widget?type=chart&theme=light&coin_id=884&pref_coin_id=1505">BCN</button>
						</div>
					</div>
					
					<div class="tabs__content">
						<div class="tabs__content-list">
							<div class="tabs__content-item active js-tabs-content" data-content-id="1">
								<div class="tabs__content-loader loader">
									<span></span><span></span><span></span>
								</div>
							</div>
							
							<div class="tabs__content-item js-tabs-content" data-content-id="2">
								<div class="tabs__content-loader loader">
									<span></span><span></span><span></span>
								</div>
							</div>
							
							<div class="tabs__content-item js-tabs-content" data-content-id="3">
								<div class="tabs__content-loader loader">
									<span></span><span></span><span></span>
								</div>
							</div>
							
							<div class="tabs__content-item js-tabs-content" data-content-id="4">
								<div class="tabs__content-loader loader">
									<span></span><span></span><span></span>
								</div>
							</div>
							
							<div class="tabs__content-item js-tabs-content" data-content-id="5">
								<div class="tabs__content-loader loader">
									<span></span><span></span><span></span>
								</div>
							</div>
							
							<div class="tabs__content-item js-tabs-content" data-content-id="6">
								<div class="tabs__content-loader loader">
									<span></span><span></span><span></span>
								</div>
							</div>
							
							<div class="tabs__content-item js-tabs-content" data-content-id="7">
								<div class="tabs__content-loader loader">
									<span></span><span></span><span></span>
								</div>
							</div>
							
							<div class="tabs__content-item js-tabs-content" data-content-id="8">
								<div class="tabs__content-loader loader">
									<span></span><span></span><span></span>
								</div>
							</div>
							
							<div class="tabs__content-item js-tabs-content" data-content-id="9">
								<div class="tabs__content-loader loader">
									<span></span><span></span><span></span>
								</div>
							</div>
							
							<div class="tabs__content-item js-tabs-content" data-content-id="10">
								<div class="tabs__content-loader loader">
									<span></span><span></span><span></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="reviews">
			<div class="reviews__wrp">
				<div class="reviews__slider swiper-container js-slider-reviews">
					<div class="reviews__slider-wrapper swiper-wrapper">
						<div class="reviews__slide swiper-slide">
							<div class="reviews__slide-grid grid grid_h_between grid_v_start">
								<div class="reviews__slide-photo">
									<img class="reviews__slide-img js-fit" src="images/photo-1.jpg"
									     alt="photo">
								</div>
								
								<div class="reviews__slide-body">
									<div class="reviews__slide-name heading heading_type_h4">
										Александр Ануфриев
									</div>
									<div class="reviews__slide-text caption caption_size_l">
										Полгода назад вложил 3000&nbsp;рублей в&nbsp;биткоины.
										Уже окупился в&nbsp;два раза.
									</div>
								</div>
							</div>
						</div>
						
						<div class="reviews__slide swiper-slide">
							<div class="reviews__slide-grid grid grid_h_between grid_v_start">
								<div class="reviews__slide-photo">
									<img class="reviews__slide-img js-fit" src="images/photo-2.jpg"
									     alt="photo">
								</div>
								
								<div class="reviews__slide-body">
									<div class="reviews__slide-name heading heading_type_h4">
										Владимир Данилов
									</div>
									<div class="reviews__slide-text caption caption_size_l">
										Биржа хороша часто выгодным курсом для покупки. Лучше, чем просто обменник. В
										наличии приложение-кошелек. Купил - храни. При необходимости продавай, выводи
										себе на банковский счет или карту. Рекомендую!
									</div>
								</div>
							</div>
						</div>
						
						<div class="reviews__slide swiper-slide">
							<div class="reviews__slide-grid grid grid_h_between grid_v_start">
								<div class="reviews__slide-photo">
									<img class="reviews__slide-img js-fit" src="images/photo-3.jpg"
									     alt="photo">
								</div>
								
								<div class="reviews__slide-body">
									<div class="reviews__slide-name heading heading_type_h4">
										Ксения Валуева
									</div>
									<div class="reviews__slide-text caption caption_size_l">
										Только недавно зарегистрировалась на этой бирже. Сервисом довольна, установила
										приложение еще. Всем советую.
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="reviews__arrow reviews__arrow_prev icon icon-arrow-left js-slider-reviews-prev">
					</div>
					
					<div class="reviews__arrow reviews__arrow_next icon icon-arrow-right js-slider-reviews-next">
					</div>
				</div>
				
				<div class="reviews__content">
					<div class="reviews__download">
						<div class="reviews__download-caption caption caption_size_xl">
							Скачай прямо сейчас!
						</div>
						
						<div class="reviews__download-apps apps">
							<div class="apps__list">
								<a href="https://apps.apple.com" target="_blank"
								   class="btn apps__item apps__item_apple">
									<img class="apps__img js-fit" src="images/app_store.png"
									     srcset="images/app_store@2x.png 2x,
									 images/app_store@3x.png 3x">
								</a>
								
								<a href="https://play.google.com/store" target="_blank"
								   class="btn apps__item apps__item_google">
									<img class="apps__img js-fit" src="images/google_play.png"
									     srcset="images/google_play@2x.png 2x,
									 images/google_play@3x.png 3x">
								</a>
							</div>
						</div>
						
						<div class="reviews__download-subcaption caption caption_size_ss">
							Приложение, которое умеет обращаться с&nbsp;валютой
						</div>
					</div>
				</div>
			
			</div>
		</section>
		
		<section class="note">
			<div class="note__wrp">
				<div class="note__caption caption caption_size_l">
					*Внимание: торговля электронными валютами может принести не&nbsp;только прибыль, но&nbsp;и&nbsp;убытки,
					их&nbsp;размер ограничен величиной депозита.
				</div>
			</div>
		</section>
	</main>
	<!-- /page-content -->
	
	@@include('layout/_footer.html', {})

</div>
<!-- /page-container -->

@@include('layout/_svg.html', {})

@@include('layout/_popups.html', {})

@@include('layout/_scripts.html', {})

@@include('layout/_foot.html', {})
