//Fonts
@font-face {
	font-family: 'bitlish';
	src:
			url('../fonts/bitlish.ttf?nyb3ty') format('truetype'),
			url('../fonts/bitlish.woff?nyb3ty') format('woff'),
			url('../fonts/bitlish.svg?nyb3ty#bitlish') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Light.eot');
	src: url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Circe-Light.woff2') format('woff2'),
	url('../fonts/Circe-Light.woff') format('woff'),
	url('../fonts/Circe-Light.ttf') format('truetype'),
	url('../fonts/Circe-Light.svg#Circe-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Regular.eot');
	src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Circe-Regular.woff2') format('woff2'),
	url('../fonts/Circe-Regular.woff') format('woff'),
	url('../fonts/Circe-Regular.ttf') format('truetype'),
	url('../fonts/Circe-Regular.svg#Circe-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Bold.eot');
	src: url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Circe-Bold.woff2') format('woff2'),
	url('../fonts/Circe-Bold.woff') format('woff'),
	url('../fonts/Circe-Bold.ttf') format('truetype'),
	url('../fonts/Circe-Bold.svg#Circe-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}


