//Vars
$browser-context: 14;

//Fonts
$font-main: 'Circe', sans-serif;

//Breakpoint
$breakpointDisplay: 'screen and (max-width: 1365px)';
$breakpointTablet: 'screen and (max-width: 1023px)';
$breakpointMobile: 'screen and (max-width: 767px)';
$breakpointHover: 'screen and (min-width: 1024px)';

//Colors
$accent: #f39200;
$main-text: #2d366e;
$bg-light-blue: #fcfdfe;
$bg-blue: #ecf1ff;
$bg-dark: #2e4087;
$blue: #869be2;
$dark-blue :#4f67af;




