.apps {
	
	&__list {
		@extend .grid;
		@extend .grid_h_center;
		@extend .grid_v_center;
	}
	
	&__item {
		transition: transform 0.2s ease-in-out;
		
		& + & {
			margin-left: rem(20);

			@media #{$breakpointMobile} {
				margin-left: rem(16);
			}
		}

		&_apple {
			width: rem(148);

			@media #{$breakpointMobile} {
				width: rem(117);
			}
		}

		&_google {
			width: rem(152);
			
			@media #{$breakpointMobile} {
				width: rem(117);
			}
		}
		
		@media #{$breakpointHover} {
			
			&:hover {
				transform: translateY(rem(-4));
			}
		}
		
		&:active {
			transform: scale(0.95);
		}
	}
	
	&__img {
		width: 100%;
		height: 100%;
		@include object-fit(cover, 50% 50%);
	}
}
