.banner {
	background-color: $main-text;
	background-image: linear-gradient(to top, rgba(#293d76, 0.35), rgba(#3155bb, 0.35), rgba(#6383dc, 0.35));
	color: #fff;
	position: relative;
	overflow: hidden;
	
	&__wrp {
		@extend %wrp;
		@extend %padding_g;
		padding-top: rem(140);
		padding-bottom: rem(60);
		position: relative;
		z-index: 1;

		@media #{$breakpointDisplay} {
			height: 100vh;
			min-height: rem(540);
			display: flex;
			flex-direction: column;
		}

		@media #{$breakpointTablet} {
			padding-top: rem(120);
			padding-bottom: rem(40);
		}

		@media #{$breakpointMobile} {
			padding-top: rem(116);
			padding-bottom: rem(30);
			min-height: rem(440);
		}
	}
	
	&__body {
		margin-top: rem(166);

		@media #{$breakpointDisplay} {
			margin-top: rem(20);
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		@media #{$breakpointTablet} {
			margin-bottom: rem(100);
		}

		@media #{$breakpointMobile} {
			margin-bottom: 0;
		}
	}
	
	&__heading {
		
	}
	
	&__subheading {
		margin-top: rem(26);

		@media #{$breakpointMobile} {
			margin-top: rem(10);
		}
	}
	
	&__footer {
		margin-top: rem(175);

		@media #{$breakpointDisplay} {
			margin-top: rem(20);
			flex-shrink: 0;
		}

		@media #{$breakpointMobile} {
			flex-direction: column;
			align-items: flex-start;
		}
		
		&-caption {
			margin-right: rem(25);
			letter-spacing: 0.35px;
			text-align: right;

			@media #{$breakpointMobile} {
				margin-right: 0;
				margin-bottom: rem(20);
				text-align: left;
			}
		}
	
		&-apps {
			
		}		
	}
	
	&__bg {
		z-index: 0;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		
		&-img {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;

			@media #{$breakpointTablet} {
				max-width: 200%;
				width: 180%;
				left: -76%;
			}

			@media #{$breakpointMobile} {
				max-width: 250%;
				width: 220%;
				left: -100%;
			}
		}
	 }
}
