.benefits {
	background-image: linear-gradient(to top, rgba($bg-light-blue, 0), rgba($bg-light-blue, 1)) ;

	&__wrp {
		@extend %wrp;
		@extend %padding_g;
		padding-top: rem(95);
		padding-bottom: rem(65);

		@media #{$breakpointDisplay} {
			padding-top: rem(75);
		}

		@media #{$breakpointMobile} {
			padding-top: rem(50);
			padding-bottom: rem(60);
		}
	}
	
	&__header {
		text-align: center;

		@media #{$breakpointMobile} {
			text-align: left;
		}
		
		&-heading {
			@media #{$breakpointMobile} {
				font-size: rem(24);
				line-height: rem(30);
			}
		}
		
		&-subheading {
			margin-top: rem(13);

			@media #{$breakpointMobile} {
				margin-top: rem(8);
				font-size: rem(16);
				line-height: rem(20);
			}
		}
		
		&-caption {
			margin-top: rem(20);

			@media #{$breakpointMobile} {
				margin-top: rem(14);
				font-size: rem(14);
				line-height: rem(16);
			}
		}
	}
	
	&__body {
		margin-top: rem(121);

		@media #{$breakpointDisplay} {
			margin-top: rem(90);
		}

		@media #{$breakpointMobile} {
			margin-top: rem(34);
		}
	}
	
	&__grid {
		flex-wrap: wrap;

		@media #{$breakpointTablet} {
			justify-content: flex-start;
		}

		@media #{$breakpointMobile} {
			flex-direction: column;
			position: relative;
			padding-bottom: 1px;

			&::after {
				position: absolute;
				content: '';
				background-color: rgba(#626d7d, 0.2);
				bottom: 0;
				left: rem(-14);
				right:  rem(-14);
				height: 1px;
			}
		}
		
		&-item {
			width: calc(100% / 3);
			margin-bottom: rem(58);

			@media #{$breakpointDisplay} {
				margin-bottom: rem(50);
			}

			@media #{$breakpointTablet} {
				width: 50%;
			}

			@media #{$breakpointMobile} {
				width: 100%;
				margin-bottom: 0;
			}
		}
	}
	
	&__item {
		position: relative;

		@media #{$breakpointMobile} {
			&::before {
				position: absolute;
				content: '';
				background-color: rgba(#626d7d, 0.2);
				top: 0;
				left: rem(-14);
				right:  rem(-14);
				height: 1px;
			}
		}
		
		&-header {
			position: relative;
			padding-left: rem(42);
			padding-right: rem(42);

			@media #{$breakpointTablet} {
				padding-right: rem(38);
				padding-left: rem(38);
			}
			
			@media #{$breakpointMobile} {
				padding-top: rem(26);
				padding-bottom: rem(26);
				cursor: pointer;

				&::before,
				&::after {
					position: absolute;
					content: '';
					top: 50%;
					transform: translate(0, -50%);
					background-color: #b2c3fe;
					transition: opacity 0.2s ease-out, transform 0.2s ease-out;
				}
				
				&::before {
					right: rem(8);
					width: 10px;
					height: 2px;
				}

				&::after {
					right: rem(12);
					width: 2px;
					height: 10px;
				}
			}
		}

		@media #{$breakpointMobile} {
			&.open &-header {
				&::after {
					opacity: 0;
				}

				&::before,
				&::after {
					transform: translate(0, -50%) rotate(180deg);
				}
			}
		}
		
		&-icon {
			position: absolute;
			top: rem(1);
			left: 0;
			color: $bg-dark;
			font-size: rem(24);

			@media #{$breakpointMobile} {
				top: 50%;
				transform: translate(0, -50%);
			}
		}

		&-heading {

		}

		&-caption {
			margin-top: rem(8);
			padding-left: rem(42);
			padding-right: rem(42);

			@media #{$breakpointMobile} {
				margin-top: 0;
				padding-left: rem(38);
				padding-right: 0;
				margin-bottom: rem(34);
				display: none;
			}			
		}

		@media #{$breakpointMobile} {
			&.open &-caption {
				display: block;
			}
		}
		
		&-subheading {
			margin-top: rem(18);
		}
	}
	
	&__footer {
		text-align: center;
		margin-top: rem(30);
		
		@media #{$breakpointDisplay} {
			margin-top: rem(16);
		}

		@media #{$breakpointMobile} {
			padding-left: rem(3);
			padding-right: rem(3);
			margin-top: rem(50);
		}
	}
	
	&__button {
		
		@media #{$breakpointMobile} {
			width: 100%;
			max-width: rem(266);
		}
	}
}
