.cash {
	background-color: $bg-light-blue;
	
	&__wrp {
		@extend %wrp;
		@extend %padding_g;
		position: relative;
		padding-top: rem(135);
		padding-bottom: rem(120);

		@media #{$breakpointDisplay} {
			padding-top: rem(115);
			padding-bottom: rem(100);
		}
		
		@media #{$breakpointMobile} {
			overflow: hidden;
			padding-top: rem(48);
			padding-bottom: rem(40);
		}
		
		&::before {
			content: '';
			position: absolute;
			top: rem(20);
			left: rem(20);
			right: rem(20);
			bottom: rem(20);
			background-color: $bg-blue;
			z-index: 0;

			@media #{$breakpointMobile} {
				top: rem(10);
				left: rem(10);
				right: rem(10);
				bottom: rem(10);
			}
		}
		
	}
	
	&__grid {
		position: relative;
		z-index: 1;

		@media #{$breakpointDisplay} {
			align-items: flex-start;
		}

		@media #{$breakpointTablet} {
			flex-direction: column;
		}
	}
	
	&__text {
		width: 50%;
		padding-right: rem(10);

		@media #{$breakpointDisplay} {
			width: 100%;
			padding-right: rem(52);
		}

		@media #{$breakpointTablet} {
			padding-right: 0;
		}
		
	}
	
	&__heading {
		
		@media #{$breakpointMobile} {
			font-size: rem(24);
			line-height: rem(30);
		}
		
	}
	
	&__caption {
		margin-top: rem(15);

		@media #{$breakpointTablet} {
			margin-top: rem(33);
		}

		@media #{$breakpointMobile} {
			font-size: rem(16);
			margin-top: rem(28);
		}
	}
	
	&__quote {
		margin-top: rem(48);
		
		@media #{$breakpointDisplay} {
			padding-right: 0;
		}
		
		@media #{$breakpointTablet} {
			margin-top: rem(26);
		}

		@media #{$breakpointMobile} {
			margin-top: rem(22);
		}
	}
	
	&__frame {
		width: 50%;
		
		@media #{$breakpointDisplay} {
			flex-shrink: 0;
			width: 32%;
		}

		@media #{$breakpointTablet} {
			width: 100%;
		}
	}
	
	&__picture {
		margin-right: rem(-20);
		position: relative;
		left: rem(76);
		overflow: hidden;
		
		@media #{$breakpointDisplay} {
			left: 0;
			margin-right: rem(-22);
			margin-left: rem(-55);
			padding-top: rem(35);
		}
		
		@media #{$breakpointTablet} {
			margin-right: 0;
			margin-left: 0;
		}

		@media #{$breakpointMobile} {
			padding-top: rem(42);
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			overflow: visible;
		}
		
		&-img {
			max-width: 115.6729131175468%; //679px / 567px + 20px
			width: rem(679);

			@media #{$breakpointMobile} {
				max-width: rem(679);
				width: 110.2941176470588%;
				margin: 0;
				
			}
		}
	}
	
	
}
