.dropdown {
	@extend .caption;
	@extend .caption_size_g;
	color: #fff;
	position: relative;
	z-index: 5;
	
	&_rate {
		text-transform: uppercase;
	}
	
	
	&__value {
		position: relative;
		height: 40px;
		border-radius: 20px;
		cursor: pointer;
		transition: background-color 0.2s ease-in-out, border 0.1s ease-in, padding 0.1s ease-in;
		user-select: none;
		
		&::before {
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translate(0,-50%);
			@extend .icon;
			@extend .icon-drop:before;
			font-size: 6px;
			transition: transform 0.2s ease-in-out;
		}
	}
	
	&.open &__value {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		
	}
	
	&_up.open &__value {
		border-radius: 0 0 20px 20px;
	}
	
	&.open &__value::before {
		transform: translate(0,-50%) rotate(180deg);
	}

	&_rate &__value {
		background-color: rgba($main-text, 0.5);
		padding: 10px 56px 10px 26px;
		line-height: 22px;
		
		@media #{$breakpointHover} {
			&:hover {
				background-color: rgba(#fff, 0.25);
			}
		}
	}

	@media #{$breakpointHover} {
		&_rate.open &__value:hover {
			background-color: rgba($main-text, 0.5);
		}
	}
	
	&_rate &__value,
	&_rate &__link {
		i, em {
			font-style: normal;
		}

		em {
			padding-right: 14px;
		}

		i {
			display: inline-block;
			width: 1px;
			height: 10px;
			background-color: #4175a1;
			margin: 0 6px;
		}
	}
	
	&__list {
		display: none;
		position: absolute;
		top: 40px;
		left: 0;
		width: 100%;
	}
	
	&_up &__list {
		top: auto;
		bottom: 40px;
	}
	
	&.open &__list {
		display: block;
	}
	
	&_rate &__list {
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		background-color: rgba($main-text, 0.5);
		padding: 4px 21px 20px;
	}
	
	&__item {
		@media #{$breakpointHover} {
			transition: 0.2s ease-in-out;
			&:hover {
				color: rgba(#fff, 0.5);
			}
		}
	}
	
	&_rate &__item {
		border-bottom: 1px solid rgba(#fff, 0.15);
		
		&:first-child {
			border-top: 1px solid rgba(#fff, 0.15);	
		}
	}
	
	&_rate &__link{
		max-width: 100%;
		padding: 15px 5px 14px;
		@include text-overflow();
	}
	
	&__link {
		display: block;
	}

	//Second dropdown
	&_lang {
		
	}

	&_lang &__value {
		padding: 7px 29px 7px 10px;
		border: 1px solid rgba(255, 255, 255, 0.25);
		min-width: 106px;

		@media #{$breakpointHover} {
			&:hover {
				background-color: rgba(#fff, 0.25);
			}
		}
		
		&::before {
			right: 14px;
		}
	}
	
	&_lang.open &__value {
		padding-top: 11px;
		padding-bottom: 11px;
		border-bottom-color: transparent;

		@media #{$breakpointHover} {
			&:hover {
				background-color: transparent;
			}
		}
	}
	
	&_up.dropdown_lang.open &__value {
		border-bottom-color: rgba(255, 255, 255, 0.25);
		border-top-color: transparent;
	}
	
	&_lang &__list {
		border: 1px solid rgba(255, 255, 255, 0.25);
		border-top: none;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		padding: 11px 10px 10px 10px;
		
		&::before {
			position: absolute;
			top: 0;
			left: 12px;
			right: 12px;
			content: '';
			height: 1px;
			background-color: rgba(255, 255, 255, 0.25);
		}
		
		&::after {
			content: '';
			position: absolute;
			left: -1px;
			right: -1px;
			bottom: 0;
			top: -40px;
			border-radius: 20px;
			box-shadow: 0 2px 10px 0 rgba(26, 35, 71, 0.25);
			z-index: -1;
		}
	}

	&_up.dropdown_lang &__list {
		background-color: $bg-dark;
		border-top: 1px solid rgba(255, 255, 255, 0.25);
		border-bottom: none;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		
		padding: 10px 10px 11px 10px;
		
		&::before {
			top: auto;
			bottom: 0;
		}
		
		&::after {
			top: 0;
			bottom: -40px;
		}
	}

	&_lang &__item {
		
	}

	&_lang &__link {
		position: relative;
		display: flex;
		padding-top: 3px;
		padding-bottom: 3px;

		&::after {
			content: '';
			flex-shrink: 0;
			margin-left: auto;
			margin-right: 5px;
			width: 8px;
			height: 8px;
			border: solid 1px #ffffff;
			border-radius: 4px;
			cursor: pointer;
			background-color: transparent;
			padding: 1px;
			background-clip: content-box;
			transition: background-color 0.2s ease-out;
		}
		
		&.active::after {
			background-color: #fff;
		}
	}

	&__flag {
		margin-right: 13px;
	}
	
	&__text {
		overflow: hidden;
	}
	
	
}

	


