.flag {
	display: inline-block;
	width: 22px;
	height: 22px;
	border: 1px solid #fff;
	border-radius: 12px;
	box-shadow: 0px 2px 10px 0 rgba(26, 35, 71, 0.25);
	background-color: #fff;
	background-image: url(../images/flags.png);
	background-repeat: no-repeat;
	background-size: auto 22px;
	box-sizing: content-box;
	flex-shrink: 0;
	
	&_ru {
		background-position: -88px 0;
	}
	
	&_gb {
		background-position: -66px 0;
	}
	
	&_fr {
		background-position: -44px 0;
	}
	
	&_es {
		background-position: -22px 0;
	}
	
	&_cn {
		background-position: 0 0;
	}
}
