.graph {
	
	&__wrp {
		@extend %wrp;
		@extend %padding_g;

		@media #{$breakpointMobile} {
			padding: 0;
		}
	}
	
	&__heading {
		text-align: center;

		@media #{$breakpointTablet} {
			font-size: rem(24);
			line-height: rem(30);
			font-weight: 700;
		}
	}
	
	&__tabs {
		margin-top: rem(40);

		@media #{$breakpointMobile} {
			margin-top: rem(26);
		}
	}
}

