//Loader
.loader {
	font-size: 0;
	line-height: 0;
	white-space: nowrap;
	
	& > span {
		display: inline-block;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: $bg-dark;
		margin: 4px;
		opacity: 0;
	}

	& > span:nth-child(1){
		animation: opacitychange 1s ease-in-out infinite;
	}

	& > span:nth-child(2){
		animation: opacitychange 1s ease-in-out 0.33s infinite;
	}

	& > span:nth-child(3){
		animation: opacitychange 1s ease-in-out 0.66s infinite;
	}

	@keyframes opacitychange{
		0%, 100%{
			opacity: 0;
		}

		60%{
			opacity: 1;
		}
	}
}
