.mobile {
	overflow: hidden;
	position: relative;
	
	&__wrp {
		@extend %wrp;
		@extend %padding_g;
		padding-top: rem(50);
		padding-bottom: rem(120);

		@media #{$breakpointMobile} {
			padding-top: rem(40);
			padding-bottom: rem(80);
		}
	}
	
	&__grid {
		
		@media #{$breakpointTablet} {
			flex-direction: column-reverse;
		}
	}
	
	&__image {
		width: 50%;
		height: rem(606);
		position: relative;

		@media #{$breakpointDisplay} {
			height: 0;
			padding-bottom: 54%;
		}

		@media #{$breakpointTablet} {
			width: 100%;
			height: rem(606);
			padding-bottom: 0;
			margin-top: rem(40);
		}

		@media #{$breakpointMobile} {
			height: auto;
			margin-top: rem(60);
		}
	}
	
	&__gallery {
		position: absolute;
		top: rem(10);
		right: rem(6);
		height: 100%;

		@media #{$breakpointTablet} {
			position: relative;
			top: 0;
			right: 0;
			justify-content: center;
		}

		@media #{$breakpointMobile} {
			flex-direction: column;
			align-items: center;
			height: auto;
		}
		
		&-item {
			margin-right: rem(-20);
			transition: transform 0.2s ease-out;
			max-width: none;

			@media #{$breakpointHover} {
				&:hover {
					transform: translateY(rem(-20));
				}
			}
			
			@media #{$breakpointDisplay} {
				height: 100%;
			}

			@media #{$breakpointMobile} {
				margin: rem(-20) 0 0;
				height: auto;
				width: 100%;
				max-width: rem(301);
			}
		}
	}
	
	&__text {
		width: 50%;
		padding-left: rem(110);

		@media #{$breakpointDisplay} {
			padding-left: rem(63);
		}

		@media #{$breakpointTablet} {
			width: 100%;
			padding-left: 0;
		}
	}
	
	&__heading {
		
	}
	
	&__subheading {
		@media #{$breakpointMobile} {
			margin-top: rem(14);
		}
	}
	
	&__caption {
		margin-top: rem(52);

		@media #{$breakpointTablet} {
			margin-top: rem(40);
			padding-right: rem(60);
		}

		@media #{$breakpointMobile} {
			margin-top: rem(30);
			padding-right: 0;
		}
		
		& + & {
			margin-top: rem(11);
		}
	}
	
	&__subcaption {
		margin-top: rem(32);

		@media #{$breakpointMobile} {
			margin-top: rem(20);
		}
	}
	
	&__download {
		margin-top: rem(36);

		@media #{$breakpointTablet} {
			margin-top: 0;
		}
		
		@media #{$breakpointMobile} {
			margin-top: rem(-5);
		}
		
		&-text {
			
		}
		
		&-caption {
			text-align: center;

			@media #{$breakpointTablet} {
				margin-top: rem(60);
				font-size: rem(24);
				line-height: rem(30);
				font-weight: 700;
			}

			@media #{$breakpointMobile} {
				margin-top: rem(56);
			}
		}
		
		&-apps {
			margin-top: rem(32);
			
			@media #{$breakpointMobile} {
				margin-top: rem(24);
			}
		}
	}
	
	&__bg {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		
		&-img {
			width: 100%;
		}
	}
}
