.money {
	&__wrp {
		@extend %wrp;
		@extend %padding_g;
		position: relative;
		padding-top: rem(124);
		padding-bottom: rem(108);

		@media #{$breakpointTablet} {
			padding-top: rem(100);
			padding-bottom: rem(50);
		}

		@media #{$breakpointMobile} {
			padding-top: rem(67);
		}
		
		&::before {
			content: '';
			background-color: rgba(#f2f3fa, 0.6);
			position: absolute;
			top: rem(20);
			left: rem(20);
			right: rem(20);
			bottom: rem(20);
			z-index: -1;

			@media #{$breakpointMobile} {
				background-color: rgba(#f2f3fa, 0.3);
				top: rem(10);
				left: rem(10);
				right: rem(10);
				bottom: rem(10);
			}
		}
	}
	
	&__grid {

		@media #{$breakpointTablet} {
			flex-direction: column;
		}
	}
	
	&__text {
		width: 50%;
		padding-right: rem(10);
		
		@media #{$breakpointDisplay} {
			width: 100%;
			padding-right: rem(20);
		}

		@media #{$breakpointTablet} {
			padding-right: 0;
		}
	}
	
	&__main-caption {
		margin-top: rem(45);

		@media #{$breakpointTablet} {
			margin-top: rem(35);
			padding-right: rem(100);
		}

		@media #{$breakpointMobile} {
			margin-top: rem(28);
			padding-right: 0;
		}
	}
	
	&__quote {
		margin-top: rem(40);
		padding-right: rem(80);

		@media #{$breakpointDisplay} {
			padding-right: rem(40);
		}

		@media #{$breakpointMobile} {
			padding-right: 0;
		}
	}
	
	&__frame {
		width: rem(478);
		max-width: 42.15167548500882%;

		@media #{$breakpointDisplay} {
			flex-shrink: 0;
		}

		@media #{$breakpointTablet} {
			width: 100%;
			max-width: 100%;
			margin-top: rem(40);
		}
	}
	
	&__picture {
		position: relative;
		padding-bottom: rem(20);

		@media #{$breakpointMobile} {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-bottom: rem(6);
		}
		
		&::before, &::after {
			position: absolute;
			content: '';
			left: 50%;
			transform: translateX(-50%);
			height: rem(40);
			border-radius: rem(20);
			background-color: #f2f4ff;
			z-index: -1;
			
			@media #{$breakpointMobile} {
				height: rem(25);
			}
		}

		&::before {
			bottom: rem(40);
			width: 43.93305439330544%;

			@media #{$breakpointMobile} {
				bottom: rem(24);
				width: 47.79411764705882%;
				max-width: rem(206);
			}
		}
		
		&::after {
			bottom: 0;
			width: 24.05857740585774%;
			
			@media #{$breakpointMobile} {
				width: 26.47058823529412%;
				max-width: rem(114);
			}
		}
		
		&-img {
			
			@media #{$breakpointMobile} {
				width: 110.6617647058824%;//300px
				max-width: rem(478);
				margin: 0;
			}
		}
		
		&-heading {
			color: $dark-blue;
			margin-top: rem(20);
			text-align: center;

			@media #{$breakpointMobile} {
				margin-top: rem(26);
			}
		}
	}
		
	&__button {
		margin-top: rem(16);

		@media #{$breakpointMobile} {
			margin-top: rem(20);
		}
	}
	
	&__caption-ss {
		color: rgba($main-text, 0.75);
		padding-top: rem(23);

		@media #{$breakpointHover} {
			&:hover {
				color: rgba($main-text, 0.9);
			}
		}
		
		@media #{$breakpointMobile} {
			padding-top: rem(18);
		}
	}
}
