.note {
	
	&__wrp {
		@extend %padding_g;
		@extend %wrp;
		padding-top: rem(17);
		padding-bottom: rem(17);
		margin-bottom: rem(20);
		position: relative;

		@media #{$breakpointMobile} {
			padding-top: rem(26);
			padding-bottom: rem(26);
		}
		
		&::before {
			position: absolute;
			content: '';
			top: 0;
			bottom: 0;
			left: rem(20);
			right: rem(20);
			background-color: $bg-blue;
			z-index: -1;

			@media #{$breakpointMobile} {
				left: rem(10);
				right: rem(10);
			}
		}
	}
	
	&__caption {
		text-align: center;

		@media #{$breakpointDisplay} {
			text-align: left;
		}

		@media #{$breakpointMobile} {
			font-size: 16px;
			padding-left: rem(4);
			padding-right: rem(4);
		}
	}
}
