.quote {
	padding-left: rem(38);
	position: relative;

	@media #{$breakpointTablet} {
		padding-right: rem(110);

		@media #{$breakpointMobile} {
			padding-right: 0;
			padding-left: rem(27);
		}
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: rem(5);
		opacity: 0.1;
		background-color: $main-text;
	}
}
