.reg {
	background-image: linear-gradient(to bottom, rgba($bg-light-blue, 0), rgba($bg-light-blue, 1)) ;

	@media #{$breakpointMobile} {
		background-image: linear-gradient(to bottom, rgba($bg-blue, 0.3), rgba($bg-light-blue, 1)) ;

	}
	&__wrp {
		@extend %wrp;
		@extend %padding_g;
		padding-top: rem(3);
		padding-bottom: rem(73);

		@media #{$breakpointDisplay} {
			padding-bottom: rem(40);
		}

		@media #{$breakpointMobile} {
			padding-top: rem(60);
			padding-bottom: rem(12);
		}
	}
	
	&__header {
		text-align: center;
		padding-left: 16.04938271604938%;
		padding-right: 16.04938271604938%;

		@media #{$breakpointDisplay} {
			padding-left: 12%;
			padding-right: 12%;
		}

		@media #{$breakpointMobile} {
			padding-left: 0;
			padding-right: 0;
		}

		@media #{$breakpointMobile} {
			text-align: left;
		}
	}
	
	&__heading {
		
		@media #{$breakpointMobile} {
			line-height: 40px;
		}
	}
	
	&__subheading {
		margin-top: rem(12);

		@media #{$breakpointMobile} {
			margin-top: rem(26);
		}
	}
	
	&__body {
		margin: rem(100) rem(54) 0 rem(114);
		
		@media #{$breakpointDisplay} {
			margin: rem(80) 0 0 rem(42);
		}

		@media #{$breakpointTablet} {
			margin: rem(57) 0 0 0;
		}
		
		@media #{$breakpointMobile} {
			margin-top: rem(50);
		}
	}
	
	&__steps {
		@media #{$breakpointMobile} {
			flex-direction: column;
		}
	}
	
	&__step {
		width: calc((100% - 136px) / 3);// 100% - 68 - 68 / 3

		@media #{$breakpointDisplay} {
			width: calc((100% - 84px) / 3);
		}

		@media #{$breakpointTablet} {
			width: calc((100% - 50px) / 3);
		}

		@media #{$breakpointMobile} {
			width: 100%;
		}
		
		@media #{$breakpointMobile} {
			margin-bottom: rem(36);
			display: flex;
			align-items: flex-start;
			
		}

		&-body {
			
		}
		
		&-heading {
			margin-top: rem(27);

			@media #{$breakpointMobile} {
				margin-top: 0;
			}
		}
		
		&-subheading {
			margin-bottom: rem(12);

			@media #{$breakpointMobile} {
				margin-top: rem(4);
				margin-bottom: rem(6);
			}
		}
		
		&-caption {
			margin-top: rem(7);
		}
		
		br {
			@media #{$breakpointTablet} {
				display: none;
			}
		}
	}
	
	&__number {
		position: relative;
		padding-left: rem(21);
		background-image: url("../images/arrow.svg");
		background-repeat: no-repeat;
		background-position: 100% 50%;
		background-size: rem(116) auto;
		min-height: rem(80);

		@media #{$breakpointDisplay} {
			background-position: 94% 50%;
		}
		
		@media #{$breakpointTablet} {
			background-size: 35%;
		}
		
		@media #{$breakpointMobile} {
			background: none;
			min-height: 0;
			flex-shrink: 0;
			width: rem(100);
			padding-right: rem(10);
			padding-left: rem(10);
			margin-top: rem(4);
		}
		
		&-item {
			font-size: rem(120);
			line-height: rem(100);
			font-weight: bold;
			color: rgba(220, 228, 255, 0.5);
			position: absolute;
			bottom: rem(-16);
			left: 0;
			z-index: -1;
			transition: transform 0.2s ease-out;

			@media #{$breakpointMobile} {
				color: rgba(220, 228, 255, 0.9);
				font-size: rem(90);
				line-height: rem(90);
				bottom: rem(-19);
			}
		}
		
		&-img {
			margin: 0;
			max-height: rem(80);

			@media #{$breakpointMobile} {
				height: rem(60);
				margin: 0 auto;
			}
		}
	}

	&__step:last-child &__number {
		background-image: none;
	}
	
	@media #{$breakpointHover} {
		&__step:hover &__number-item {
			transform: translateX(rem(-25));
		}
	}
		
	&__button {
		margin-top: rem(32);

		@media #{$breakpointMobile} {
			margin-top: rem(22);
			margin-left: rem(-12);
		}
	}
}
