.reviews {
	
	&__wrp {
		padding-top: rem(20);
		padding-bottom: rem(45);

		@media #{$breakpointMobile} {
			padding-bottom: rem(36);
		}
	}
	
	&__slider {
		position: relative;
		overflow: hidden;

		@media #{$breakpointMobile} {
			padding-left: rem(10);
			padding-right: rem(10);
		}
		
		&-wrapper {
			padding-top: rem(54);
			padding-bottom: rem(54);
		}

	}
	
	&__slide {
		width: rem(666);
		padding: rem(64);
		background-color: #fff;
		box-shadow: 3.5px 3.5px 65px 0 rgba(38, 53, 128, 0.08);
		opacity: 0.35;

		@media #{$breakpointMobile} {
			opacity: 1;
		}
		
		&.swiper-slide-active {
			opacity: 1;
		}

		@media #{$breakpointMobile} {
			padding: rem(25) rem(18) rem(30);
			width: 100%;
		}
		
		&-photo {
			flex-shrink: 0;
			width: rem(102);
			height: rem(102);
			margin-right: rem(36);
			border-radius: 50%;
			box-shadow: 0 5px 20px 0 rgba(46, 64, 135, 0.15);
			border: solid 2px #fff;
			overflow: hidden;

			@media #{$breakpointMobile} {
				width: rem(80);
				height: rem(80);
				margin-right: rem(26);
			}
		}
		
		&-img {
			width: 100%;
			height: 100%;
			@include object-fit(cover, 50% 50%);
		}
		
		&-body {
			padding-top: rem(7);
			
			@media #{$breakpointMobile} {
				padding-top: 0;
			}		
		}
		
		&-name {
			
		}
		
		&-text {
			margin-top: rem(17);
			max-height: 50px;
			overflow: hidden;

			@media #{$breakpointTablet} {
				max-height: 2000px;
			}

			@media #{$breakpointMobile} {
				margin-top: rem(8);
			}
		}
		
		&.swiper-slide-active &-text {
			max-height: 2000px;
		}
	}
	
	&__arrow {
		position: absolute;
		z-index: 2;
		top: 0;
		bottom: 0;
		display: block;
		cursor: pointer;
		color: $bg-dark;

		@media #{$breakpointTablet} {
			height: rem(54);
		}

		&::before {
			position: absolute;
			top: 169px;
			transform: translate(0, -50%);
			font-size: rem(35);
			transition: transform 0.1s ease-out;
		}

		@media #{$breakpointHover} {
			&:hover::before {
				transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}
		}
		
		&_prev {
			left: 0;
			right: calc((100% + 666px) / 2);

			@media #{$breakpointTablet} {
				top: 0;
				right: 0;
				bottom: auto;
			}
			
			@media #{$breakpointHover} {
				&:hover::before {
					transform: translate(50%, -50%) scale(1.25);
				}
			}
			
			&::before {
				right: rem(42);

				@media #{$breakpointTablet} {
					top: 20%;
					right: 50%;
					transform: translateX(50%) rotate(90deg);
				}
			}
		}
		
		&_next {
			right: 0;
			left: calc((100% + 666px) / 2);

			@media #{$breakpointTablet} {
				top: auto;
				left: 0;			
				bottom: 0;
			}

			@media #{$breakpointHover} {
				&:hover::before {
					transform: translate(-50%, -50%) scale(1.25);
				}
			}
			
			
			&::before {
				left: rem(42);

				@media #{$breakpointTablet} {
					top: 20%;
					left: 50%;
					transform: translateX(-50%) rotate(90deg);
				}
			}
		}
	}
	
	&__content {
		@extend %padding_g;
		@extend %wrp;

		@media #{$breakpointTablet} {
			margin-top: rem(50);
		}

		@media #{$breakpointMobile} {
			margin-top: rem(40);
		}
	}
	
	&__download {
		
		&-caption {
			text-align: center;

			@media #{$breakpointTablet} {
				font-size: rem(24);
				line-height: rem(30);
				font-weight: 700;
			}
		}
		
		&-apps {
			margin-top: rem(22);
		}
		
		&-subcaption {
			text-align: center;
			margin-top: rem(21);


			@media #{$breakpointMobile} {
				margin-top: rem(16);
				line-height: 20px;
			}
		}
	}
}
