.tabs {
	
	&__nav {
		border-radius: 25px;
		border: solid 1px $bg-blue;

		@media #{$breakpointMobile} {
			border-left: none;
			border-right: none;
			border-radius: 0;
		}
		
		&-list {
			@media #{$breakpointMobile} {
				justify-content: flex-start;
				overflow-x: scroll;
				overflow-y: hidden;
				white-space: nowrap;
				-webkit-overflow-scrolling: touch;
				padding-left: rem(13);
			}	
		}
		
		&-item {
			font-size: rem(16);
			line-height: 1;
			display: block;
			padding: rem(18) rem(14) rem(14) rem(13);
			color: #4f67ad;
			letter-spacing: rem(0.16);
			cursor: pointer;
			position: relative;
			text-transform: uppercase;
			min-width: rem(60);
			transition: color 0.2s ease-in-out;
			flex-shrink: 0;

			@media #{$breakpointHover} {
				&:hover {
					color: $accent;
				}
			}
			
			&.active {
				text-decoration: underline;
				color: $accent;
				cursor: default;
				pointer-events: none;
			}
			
			&::after {
				position: absolute;
				content: '';
				right: 0;
				top: 19px;
				bottom: 19px;
				background-color: $bg-blue;
				width: 1px;
			} 
			
			&:last-child {
				padding-right: rem(13);

				@media #{$breakpointMobile} {
					padding-right: rem(26);
				}
				
				&::after {
					display: none;
				}
			}
		}
	}
	
	&__content {
		margin-top: rem(48);

		@media #{$breakpointMobile} {
			margin-top: rem(24);
		}
		
		&-list {
		}
		
		&-item {
			padding-bottom: rem(136);
			width: 100%;
			display: none;
			position: relative;
			
			&.active {
				display: block;
			}
			
			&.loaded {
				padding-bottom: rem(536);
			}
			

			@media #{$breakpointMobile} {
				padding-bottom: 76.875%;
			}
		}
		
		&-frame {
			position: absolute;
			width: 100%;
			height: 100%;
			@include object-fit(cover, 50% 50%);
			display: none;
			opacity: 0;
			visibility: hidden;
			transition: opacity .3s ease-out, visibility .3s ease-out;
		}
		
		&-item.loading &-frame,
		&-item.loaded &-frame {
			display: block;
		}

		&-item.loaded &-frame {
			opacity: 1;
			visibility: visible;
		}
		
		&-loader {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		
		&-item.loaded &-loader {
			display: none;
		}
	}
}
