//Button
.button {
    -ms-touch-action: manipulation;
    touch-action: manipulation;

	outline: none;
    background: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
	font-weight: 400;
    text-decoration: none;
    margin: 0;
	cursor: pointer;
    
    outline: 0;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    transition: all .25s ease-out;
	position: relative;
	
	@media #{$breakpointMobile} {
		font-size: 16px;
	}
	
	&:disabled,
	&[disabled],
	.loading & {
		pointer-events: none;
		cursor: not-allowed;
	}
	
	&:focus,
	&:active {
		outline: none!important;
	}

	//Theme
	&_theme_accent {
		background-color: $accent;
		color: #fff;
		box-shadow: inset 0px -3px 0 0 rgba(191, 96, 0, 0.4);
		min-width: 120px;

		@media #{$breakpointHover} {
			&:hover {
				background-color: #E28200;
			}
		}
		
		&:active {
			transform: scale(0.9);
		}
	}
	
	&_theme_blue {
		color: $blue;
		border: solid 2px $bg-blue;
		min-width: 100px;

		@media #{$breakpointHover} {
			&:hover {
				background-color: rgba($bg-blue, 0.7);
			}
		}

		&:active {
			transform: scale(0.9);
		}
	}
	
	//Size
    &_size_g {
	    height: 50px;
	    border-radius: 25px;
	    padding-top: 17px;
	    padding-bottom: 17px;
	    padding-left: 47px;
	    padding-right: 47px;
	    line-height: 16px;

	    @media #{$breakpointMobile} {
		    padding-left: 26px;
		    padding-right: 26px;
	    }
    }
	
	&_size_s {
		height: 40px;
		border-radius: 20px;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 23px;
		padding-right: 23px;
		line-height: 16px;
		
		&.button_theme_blue {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}
