//Caption
.caption {
	font-weight: 400;
    
    &_size_g {
		font-size: 16px;
		line-height: 20px;

	    @media #{$breakpointTablet} {
		    font-size: 14px;
	    }
    }
	
	&_size_xs {
		font-size: 12px;
		line-height: 12px;
	}
	
	&_size_s {
		font-size: 14px;
		line-height: 20px;

		@media #{$breakpointTablet} {
			font-size: 12px;
			line-height: 16px;
		}
	}
	
	&_size_sm {
		font-size: 14px;
		line-height: 18px;
	}
	
	&_size_ss {
		font-size: 14px;
		line-height: 16px;
	}
	
	&_size_l {
		font-size: 18px;
		line-height: 25px;

		@media #{$breakpointTablet} {
			font-size: 16px;
			line-height: 20px;
		}

		@media #{$breakpointMobile} {
			font-size: 14px;
			line-height: 20px;
		}
	}
	
	&_size_xl {
		font-size: 24px;
		line-height: 30px;

		@media #{$breakpointTablet} {
			font-size: 18px;
			line-height: 20px;
		}
	}
	
	&_light {
		font-weight: 300;
	}
}
