//FOOTER LAYOUT
.footer {
	background-color: $bg-dark;
	
    &__wrp {
	    @extend %wrp;
	    @extend %padding_g;
	    padding-top: rem(24);
	    padding-bottom: rem(24);

	    @media #{$breakpointMobile} {
		    padding-top: rem(32);
	    }
    }
	
	&__content {
		
		@media #{$breakpointDisplay} {
			flex-wrap: wrap;
		}
	}
	
	&__nav {

		@media #{$breakpointDisplay} {
			
		}
		
		&-list {
			list-style: none;
			padding: 0;
			margin: 0;

			@media #{$breakpointMobile} {
				flex-wrap: wrap;
				justify-content: flex-start;
				margin-bottom: rem(24);
				margin-left: rem(-16);
				margin-right: rem(-18);
			}
		}
		
		&-item {
			position: relative;

			&::after {
				position: absolute;
				content: '';
				right: 0;
				top: 17px;
				bottom: 17px;
				width: 1px;
				background-color: rgba($blue, 0.3);

				@media #{$breakpointMobile} {
					top: 12px;
					bottom: 12px;
				}
			}
			
			&:last-child {

				&::after {
					display: none;
				}
			}
		}
		
		&-link {
			display: block;
			padding: rem(14) rem(17) rem(14) rem(16);
			color: $bg-light-blue;
			letter-spacing: -0.07px;

			@media #{$breakpointMobile} {
				padding: rem(7) rem(15) rem(7) rem(13);
			}

			@media #{$breakpointHover} {
				&:hover {
					color: $blue;
				}
			}
		}

		&-item:first-child &-link {
			padding-left: 0;


			@media #{$breakpointMobile} {
				padding-left: rem(16);
			}
		}
		
		&-item:last-child &-link {
			
			@media #{$breakpointTablet} {
				padding-right: 0;
			}
		}
	}
	
	&__logo {
		display: block;
		width: rem(95);

		@media #{$breakpointDisplay} {
			order: 2;
			margin-top: rem(5);
			margin-bottom: rem(19);
		}

		@media #{$breakpointTablet} {
			order: initial;
			margin-bottom: 0;
		}

		@media #{$breakpointMobile} {
			width: rem(107);
		}
	}
	
	&__dropdown {
		
	}
	
	&__info {
		margin-top: rem(3);

		@media #{$breakpointTablet} {
			margin-top: rem(15);
		}


		@media #{$breakpointMobile} {
			margin-top: rem(25);
		}

		&-caption {
			color: rgba(#e8f0f8, 0.8);
			
			& + & {
				margin-top: rem(19);
			}
		}
	}
}


