//HEADER LAYOUT
.header {
	width: 100%;
	
	&__wrp {
		@extend %wrp;
		@extend %padding_g;
		padding-top: rem(50);
		padding-bottom: rem(50);
		color: #fff;

		@media #{$breakpointTablet} {
			padding-top: rem(22);
			padding-bottom: rem(22);
			align-items: flex-start;
		}
	}
	
	&__grid {
		position: relative;

		@media #{$breakpointTablet} {
			flex-direction: column;
			align-items: flex-end;
		}
		
		@media #{$breakpointMobile} {
			align-items: flex-start;
		}
		
	}
	
	&__grid + &__grid {
		margin-left: rem(40);
	}
	
	&__logo {
		display: block;
		width: rem(95);
		padding-bottom: rem(2);
		margin-right: rem(20);

		@media #{$breakpointTablet} {
			padding-bottom: 0;
			margin-top: rem(7);
			margin-bottom: rem(17);
		}

		@media #{$breakpointMobile} {
			width: rem(80);
			margin-right: 0;
			margin-bottom: rem(14);
		}

		@media #{$breakpointHover} {
			&:hover {
				opacity: 0.7;
			}
		}
	}
	
	&__caption {
		
		@media #{$breakpointTablet} {
			margin-top: rem(6);
		}

		@media #{$breakpointMobile} {
			margin-top: 0;
		}
	}
	
	
	&__dropdown + &__dropdown {
		margin-left: rem(20);

		@media #{$breakpointTablet} {
			margin-left: 0;
			margin-top: rem(10);
		}

		@media #{$breakpointMobile} {
			margin-top: 0;
		}
	}
}












