//Heading
.heading {
	font-weight: 700;
	
	&_type_h0 {
		font-size: 60px;
		line-height: 60px;
		letter-spacing: -1.5px;
		
		@media #{$breakpointTablet} {
			font-size: 50px;
			letter-spacing: -1px;
		}

		@media #{$breakpointMobile} {
			font-size: 40px;
		}
		
	}

	&_type_h1 {
		font-size: 50px;
		line-height: 57px;
		
		@media #{$breakpointTablet} {
			font-size: 30px;
			line-height: 40px;
		}

		@media #{$breakpointMobile} {
			font-size: 24px;
			line-height: 30px;
		}
	}

	&_type_h2 {
		font-size: 40px;
		line-height: 50px;

		@media #{$breakpointTablet} {
			font-size: 30px;
			line-height: 30px;
		}
	}
	
	&_type_h3 {
		font-size: 30px;
		line-height: 35px;

		@media #{$breakpointTablet} {
			font-size: 18px;
			line-height: 20px;
		}
	}
	
	&_type_h4 {
		font-size: 24px;
		line-height: 25px;

		@media #{$breakpointMobile} {
			font-size: 16px;
			line-height: 25px;
		}
	}
	
	&_type_h5 {
		font-size: 18px;
		line-height: 30px;

		@media #{$breakpointMobile} {
			font-size: 16px;
			line-height: 20px;
		}
	}
	
	&_type_h6 {
		font-size: 14px;
		line-height: 16px;
	}
	
	&_light {
		font-weight: 300;
	}
	
	&:last-child {
		margin-bottom: 0;
	}
}
