//Icons
.icon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'bitlish' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
	content: "\e900";
}
.icon-arrow-right:before {
	content: "\e901";
}
.icon-drop:before {
	content: "\e902";
}
.icon-benefits-1:before {
	content: "\e903";
}
.icon-benefits-2:before {
	content: "\e904";
}
.icon-benefits-3:before {
	content: "\e905";
}
.icon-benefits-4:before {
	content: "\e906";
}
.icon-benefits-5:before {
	content: "\e907";
}
.icon-benefits-6:before {
	content: "\e908";
}
.icon-benefits-7:before {
	content: "\e909";
}
.icon-benefits-8:before {
	content: "\e90a";
}
.icon-benefits-9:before {
	content: "\e90b";
}

