//NAVIGATION LAYOUT
.navigation {

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
		display: block;
		position: relative;
    }
	
    &__link {
		display: block;
		cursor: default;
		
		&[href] {
			cursor: pointer;
		}
    }
}







