//POPUP
.fancybox-container {
	//font-family: $font-opensans !important;
}

.fancybox-bg {
	background: #000!important;
	display: block;
}

.fancybox-is-open .fancybox-bg {
	opacity: .9!important;
}

.fancybox-popup.fancybox-is-open .fancybox-bg {
	opacity: .7!important;
}

.popup {
	overflow: visible!important;
	display: none;
	padding: 0!important;
	cursor: default!important;

	width: 96.2962962962963%;
	max-width: rem(370);

	position: relative;
	background-color: #fff;
	
	
}
