//Template
@media #{$breakpointDisplay} {
	
}

@media #{$breakpointTablet} {

}

@media #{$breakpointMobile} {
	
}

@media #{$breakpointHover} {

}

%wrp {
	width: 100%;
	max-width: 1366px;
    margin: 0 auto;

	@media #{$breakpointDisplay} {
		max-width: 1024px;
	}

	@media #{$breakpointTablet} {
		max-width: 768px;
	}

	@media #{$breakpointMobile} {
		max-width: 600px;
		min-width: 320px;
	}
	
}

%padding_g {
	padding-left: rem(116);
	padding-right: rem(116);

	@media #{$breakpointDisplay} {
		padding-left: rem(42);
		padding-right: rem(42);
	}

	@media #{$breakpointMobile} {
		padding-left: rem(24);
		padding-right: rem(24);
	}
}

.hidden {
	display: none !important;
}

.invisible {
	opacity: 0;
	visibility: hidden !important;
}

.overflow {
	overflow: hidden !important;
	//position: fixed;
	//top: 0;
	//left: 0;
	//width: 100%;
	//height: 100%;
}

%gradient_banner {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}

@-webkit-keyframes shake {
	from, to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translate3d(-4px, 0, 0);
		transform: translate3d(-4px, 0, 0);
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translate3d(4px, 0, 0);
		transform: translate3d(4px, 0, 0);
	}
}

@keyframes shake {
	from, to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translate3d(-4px, 0, 0);
		transform: translate3d(-4px, 0, 0);
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translate3d(4px, 0, 0);
		transform: translate3d(4px, 0, 0);
	}
}

.shake {
	-webkit-animation-name: shake;
	animation-name: shake;
}

.md-show {
	display: none;
}

.sm-show {
	display: none;
}

.xs-show {
	display: none;
}

@media #{$breakpointDisplay} {
	.md-show {
		display: inline-block;
	}

	.md-hide {
		display: none!important;
	}
}

@media #{$breakpointTablet} {
	.sm-show {
		display: inline-block;
	}

	.sm-hide {
		display: none!important;
	}
}

@media #{$breakpointMobile} {
	.xs-show {
		display: inline-block;
	}

	.xs-hide {
		display: none!important;
	}
}
